/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.relative {
    position: relative;
}


/*Fonts*/

@font-face {
    font-family: 'Montserrat Thin';
    src: url('fonts/Montserrat-Thin.eot');
    src: url('fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'), url('fonts/Montserrat-Thin.woff') format('woff'), url('fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('fonts/Montserrat-Bold.eot');
    src: url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Montserrat-Bold.woff') format('woff'), url('fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('fonts/Montserrat-Light.eot');
    src: url('fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Montserrat-Light.woff') format('woff'), url('fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot');
    src: url('fonts/icomoon.eot#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.about-slider-index span[class^='icon-'], .about-slider-index span[class*=" icon-"] {
    display: block;
    width: 100%;
    font-size: 3.1rem;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.circled[class^='icon-'], .circled[class*=" icon-"] {
    padding: .5rem;
    font-size: 3.1rem;
    display: inline-block;
    border: 3px solid #000;
    border-radius: 150px;
}

.icon-person:before {
    content: "\e905";
}

.icon-done:before {
    content: "\e903";
}

.icon-gerente:before {
    content: "\e905";
}

.icon-money:before {
    content: "\e900";
}

.icon-plan:before {
    content: "\e908";
}

.icon-eye:before {
    content: "\e904";
}

.icon-clock:before {
    content: "\e902";
}

.icon-code:before {
    content: "\e901";
}

.icon-globe:before {
    content: "\e906";
}

.icon-bossa:before {
    content: "\e907";
}

.icon-network:before {
    content: "\e909";
}


/*Fonts*/


/*Default*/

span.clear {
    display: block;
    clear: both;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    font-size: 1rem;
    line-height: 1.2em;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #a29fa9;
    font-size: 0.95rem;
    line-height: 1.55em;
    clear: both;
    letter-spacing: 0.25px;
}

a {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    font-size: 1rem;
    line-height: 1.2em;
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: none;
    color: #000;
}

.nav>li>a:hover {
    background-color: #000;
    color: #fff;
}

.c2a:hover, .c2a:focus, .c2a:active {
    background: #ffffff !important;
    border-color: #ffffff !important;
    color: #160f29 !important;
    box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035);
    -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: 1;
}
/*.c2a:before {*/
/*position: absolute;*/
/*bottom: -1px;*/
/*left: -1px;*/
/*width: calc(100% + 2px);*/
/*height: calc(100% + 2px);*/
/*background: #fff;*/
/*content: '';*/
/*opacity: 0;*/
/*-webkit-transition: opacity 0.13s ease-out, -webkit-transform 0.13s ease-out;*/
/*transition: opacity 0.13s ease-out, -webkit-transform 0.13s ease-out;*/
/*transition: transform 0.13s ease-out, opacity 0.13s ease-out;*/
/*transition: transform 0.13s ease-out, opacity 0.13s ease-out, -webkit-transform 0.13s ease-out;*/
/*z-index: -1;*/
/*-webkit-transform: scaleX(0);*/
/*transform: scaleX(0);*/
/*border-radius: 100px;*/
/*}*/
/*.c2a:hover:before, .c2a:focus:before {*/
/*opacity: 1;*/
/*-webkit-transition: opacity 0.13s ease-in, -webkit-transform 0.13s ease-in;*/
/*transition: opacity 0.13s ease-in, -webkit-transform 0.13s ease-in;*/
/*transition: transform 0.13s ease-in, opacity 0.13s ease-in;*/
/*transition: transform 0.13s ease-in, opacity 0.13s ease-in, -webkit-transform 0.13s ease-in;*/
/*-webkit-transform: scaleX(1);*/
/*transform: scaleX(1);*/
/*}*/

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #a09da7;
    font-size: 1.8rem;
    line-height: 1.2em;
    font-weight: 300;
}


h4 {
    font-family: 'Montserrat Bold', sans-serif;
    color: #000;
    font-size: 1.5rem;
    line-height: 1.2em;
    margin-bottom: 1.5rem;
}

h5 {
    font-family: 'Montserrat Bold', sans-serif;
    color: #000;
    font-size: 1rem;
    line-height: 1.2em;
    margin-bottom: 1.5rem;
}

h1 {
    font-family: 'Montserrat Bold', sans-serif;
    color: #000;
    font-size: 1.8rem;
    line-height: 1.2em;
}

b {
    font-weight: bold !important;
}

.c2a {
    background: #160f29;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    display: inline-block;
    border: none;
    color: #fff;
    padding: 0.95rem 4.46rem;
    font-family: 'Source Sans Pro', sans-serif !important;
    transition: color 0.2s, background 0.2s, border 0.2s;
    font-size: 1rem;
    position: relative;
}
#home .c2a {
    padding: 1.05rem 4.46rem;
}

nav {
    display: block;
}

ul.submenu {
    display: none;
}

div.logo h1 {
    float: left;
    margin-left: 12px;
    font-size: 22px;
    margin-top: 10px;
    opacity: 0;
    width: 67%;
}

div.logo {
    height: 100%;
    width: 100%;
    float: left;
    transition: none !important;
}

div.logo img {
    display: inline-block;
    float: left;
    max-height: 100%;
}

div.logo span {
    float: left;
    font-size: 3.2rem;
    color: #000;
}

div.logo span {
    font-size: 2.8rem;
    margin-top: 1px;
    color: #160f29;
}

nav.navbar ul.nav>li>a {
    display: inline-block;
    border: none;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: transparent;
    font-size: 1rem;
    padding: 0.3rem 0.85rem;
    transition: all 0.4s, background 0.2s, color 0.2s, border 0.2s;
}

nav.navbar ul.nav>li>a.c2a {
    background: #160f29 !important;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    display: inline-block;
    border: none;
    color: #fff;
    padding: 0.95rem 4.46rem;
    font-family: 'Source Sans Pro', sans-serif;
    transition: color 0.2s, background 0.2s, border 0.2s;
    font-size: 1rem;
    position: relative;
}

.nav>li {
    float: left;
    margin: 0px 0.6rem;
}

light {
    font-family: 'Montserrat Light', sans-serif !important;
}

nav li.dropdown span.icon-person {
    font-size: 1.18em;
    margin-left: -4px;
    margin-right: 4px;
    position: relative;
    top: 2px;
}

@media (min-width: 768px) {
    .navbar-nav>li.primary ul.dropdown-menu {
        border-radius: 8px;
        margin-top: 5px;
        border: none;
    }
    nav.navbar ul.nav>li>ul.dashboard-dropdown {
        margin-top: 17px;
    }
    .navbar-nav>li.primary ul.dropdown-menu li a {
        font-size: 0.9rem;
        line-height: 1.6;
        color: #fff;
    }
    .navbar-nav>li.primary ul.dropdown-menu li a:hover, .navbar-nav>li.primary ul.dropdown-menu li a:active, .navbar-nav>li.primary ul.dropdown-menu li a:focus {
        color: #160f19;
        background: #f5f5f5;
    }
}

@media (max-width: 767px) {
    .navbar-nav>li.primary ul.dropdown-menu {
        border-radius: 0px;
        margin-top: 0px;
        border: none;
        background: #F1F1F1;
    }
}

nav ul {
    /* float: right; */
}

a i, button i {
    margin-left: 7px;
}

section {
    margin-bottom: 0;
    padding: 6.5rem 0;
}
@media (max-width: 767px){
    section {
        margin-bottom: 0;
        padding: 2.65rem 0;
    }
    section#blog {
        background: #f6f6f7;
    }
    section#user-home {
        padding-top: 5.25rem;
    }
}

.bottom-buffer {
    margin-bottom: 2rem;
}

.top-buffer {
    margin-top: 2rem;
}

nav.navbar.navbar-default {
    background: #fff;
    box-shadow: none;
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-bottom: none;
    z-index: 104;
    border: 1px solid #fff;
}

.affix ul.nav.navbar-nav.navbar-right {
    margin-top: 13px;
}

nav.affix ul.nav.navbar-nav.navbar-right li a.user-card {
    font-size: 1rem;
    padding: 0.3rem 0.85rem;
}

button.navbar-toggle {
    margin-top: 11px;
}

nav.navbar.affix-top {
    position: absolute;
    border-radius: 0;
}
#home nav.navbar.affix-top {
    opacity: 1;
    z-index: 1000;
    padding-top: 11px;
}
@media (min-width: 1024px) {
    #home nav.navbar.affix-top {
        padding-top: 25px;
    }
}
#home nav.navbar.affix-top div.logo span {color: #fff;text-shadow: none;}
@media (min-width: 768px){
    #home nav.navbar.affix-top div.logo span.icon-bossa {
        font-family: 'icomoon7' !important;
    }
    #home nav.navbar.affix-top div.logo span.icon-bossa:before {
        content: "\e905";
    }
}
@media (max-width: 767px){
    #home nav.navbar.affix-top div.logo span.icon-bossa {
        font-family: 'icomoon' !important;
    }
    #home nav.navbar.affix-top div.logo span.icon-bossa:before {
        content: "\e907";
    }
}
#home nav.navbar.affix-top ul.nav.navbar-nav.navbar-right {
}

nav.navbar.affix button.navbar-toggle {
    margin-top: 14px;
    /* display: none; */
}

nav.navbar.affix {
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    border-right: none;
    opacity: 1;
    transition: opacity 0.3s;
    box-shadow: 0px 0px 20px 7px rgba(27, 27, 27, 0.035);
}

nav.navbar.affix .navbar-brand h1 {
    font-size: 22px;
    margin-top: 10px;
    opacity: 0;
}

nav.navbar.affix .navbar-brand {
    height: 50px;
    padding-top: 0px;
    /* width: 35%; */
}

nav .navbar-brand {
    float: left;
    /* height: 64px; */
    padding: 0 0px 5px 15px;
    font-size: 18px;
    /* line-height: 20px; */
    margin-top: 5px;
}

ul.nav.navbar-nav.navbar-right {
    margin-top: 11px;
}

.navbar-default .navbar-nav>li>a {
    color: #cacaca;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #000;
}

.navbar-default .navbar-nav>li>a.c2a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a.c2a:hover,.navbar-default .navbar-nav>li>a.c2a:active,.navbar-default .navbar-nav>li>a.c2a:focus {
    color: #160f19 !important;
    background: #fff !important;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav li {
        float: none;
        border: none !important;
        width: 100%;
        margin-left: 0px;
        box-shadow: none;
    }
    #home nav.navbar a.c2a {
        color: #fff !important;
        background: #160f29 !important;
    }
    nav.navbar ul.nav li a, nav.navbar ul.nav li a.c2a {
        border: none !important;
        border-radius: 0px !important;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        width: 100%;
        color: #160f19 !important;
        background: #f1f1f1 !important;
        opacity: 1 !important;
        padding: 16px !important;
        text-shadow: none;
        text-align: right;
        box-shadow: none;
        font-size: 1rem;
        font-family: 'Source Sans Pro', sans-serif;
        margin-top: -1px;
    }
    .navbar-default .navbar-nav>li>a:hover {
        border: none;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        width: 100%;
        color: #000 !important;
        background: #d2d2d2 !important;
    }
    ul.nav.navbar-nav.navbar-right, ul.nav.navbar-nav.navbar-left {
        margin-top: 0px !important;
        margin-bottom: 0px;
        border: none;
    }
    h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    h3 {
        font-size: 1.5rem;
        text-align: center;
    }
    #blog h3 {
        text-align: left;
    }
    h5 {
        text-align: center;
        font-size: 1.2rem;
    }
    #featured p {
        line-height: 1.4 !important;
        text-align: center !important;
    }
    p {
        font-size: 0.95rem;
    }
    ol.carousel-indicators {
        text-align: center !important;
    }
    .c2a, .c2a {
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 1.1rem;
        padding: 0.8rem 0.4rem !important;
        width: 100%;
    }
}

ol.carousel-indicators {
    bottom: -3.5rem;
    left: 0;
    margin-left: 0px;
    width: 100%;
    text-align: left;
}

div.xs-spacing {
    margin-bottom: 10px;
}

div.sm-spacing {
    margin-bottom: 20px;
}

div.md-spacing {
    margin-bottom: 30px;
}

div.lg-spacing {
    margin-bottom: 40px;
}

div.xlg-spacing {
    margin-bottom: 60px;
}

div.xxlg-spacing {
    margin-bottom: 80px;
}

div.xs-padding-spacing {
    padding-bottom: 10px;
}

div.sm-padding-spacing {
    padding-bottom: 20px;
}

div.md-padding-spacing {
    padding-bottom: 30px;
}

div.lg-padding-spacing {
    padding-bottom: 40px;
}

div.xlg-padding-spacing {
    padding-bottom: 60px;
}

div.xxlg-padding-spacing {
    padding-bottom: 80px;
}

@media (max-width: 767px) {
    .text-xs-left {
        text-align: left;
    }
    .text-xs-right {
        text-align: right;
    }
    .text-xs-center {
        text-align: center;
    }
    .text-xs-justify {
        text-align: justify;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-sm-left {
        text-align: left;
    }
    .text-sm-right {
        text-align: right;
    }
    .text-sm-center {
        text-align: center;
    }
    .text-sm-justify {
        text-align: justify;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .text-md-left {
        text-align: left;
    }
    .text-md-right {
        text-align: right;
    }
    .text-md-center {
        text-align: center;
    }
    .text-md-justify {
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .text-lg-left {
        text-align: left;
    }
    .text-lg-right {
        text-align: right;
    }
    .text-lg-center {
        text-align: center;
    }
    .text-lg-justify {
        text-align: justify;
    }
}

.col-xs-2-4 {
    width: 20%;
    float: left;
    padding: 0px 15px;
    margin-left: 0%;
}

.alert {
    font-size: 0.9rem;
    border-radius: 17px;
}

.btn {
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: background 0.2s, color 0.2s, border 0.2s;
}

.btn-default {
    border: 1px solid #000;
    background: #fff;
    color: #000;
    font-family: 'Montserrat Regular', sans-serif;
    padding: 0.55rem 1.45rem;
    border-radius: 19px;
    font-size: 1rem;
}

.btn-default:hover {
    border: 1px solid #000;
    background: #000;
    color: #fff;
}

.btn-primary {
    border: none;
    color: #fff !important;
    border-radius: 21px;
    background: #160f29;
    padding: 0.55rem 1.45rem;
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 1rem;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus, .btn-primary:active:hover {
    background: #fff;
    color: #160f29 !important;
    border: none;
}

.btn-secondary {
    border: 1px solid #160f19;
    color: #160f19;
    border-radius: 100px;
    background: #fff;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary:active:hover {
    background: #160f19;
    color: #fff;
    border: 1px solid #160f19;
}

.btn-block {
    white-space: normal;
}

small {
    font-size: 0.75em;
    font-weight: normal;
}
small.light {
    color: #ccc;
}

span.label {
    margin: 0px 1px;
    padding: 0.3rem 0.7rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    border-radius: 100px;
    display: inline-block;
}

span.label.label-primary {
    background: #0d927c;
    transition: background 0.2s;
}

.btn:hover span.label.label-primary {
    background: #0d927c;
}


/*Default*/


/*Home*/

div#home section:nth-child(odd) {
    background: #f6f6f7;
}
div#home section:nth-child(even) {
    box-shadow: 0px 0px 36px 1px rgba(0, 0, 0, 0.06);
    position: relative;
    z-index: 100;
}

#featured {
    z-index: 50;
linear-gradient(45deg, #02aee2 -68%, #0fc1aa 75%): linear-gradient(#06b09a, #02e2c4);
    position: relative;
    background: #fff !important;
    padding-top: 8rem;
    /* box-shadow: none !important; */
}

#featured .c2a {
    padding: 1.05rem 4.46rem;
    margin-top: 3rem;
    background: #03e5ba;
    color: #160f29;
    box-shadow: 0 0 14px 0px rgba(3, 229, 186, 0.3);
}

#featured .c2a-prolancer {
    margin-top: 2.7rem;
    background: transparent;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    padding: 0.7rem 2.15rem;
    border: 1px solid #fff;
    margin-top: 1rem;
}

#featured h1 {
    margin: 0 auto 4.6vh;
    font-size: 2.7rem;
    color: #ffffff;
    font-family: 'Montserrat Regular', sans-serif;
    text-align: left;
}

@media (min-width: 1024px) {
    #featured {
        height: 100vh;
        position: relative;
        background: #fcfcfc url(img/bg-home.png) no-repeat center center !important;
        background-size: cover!important;
        z-index: 101;
    }
    #featured.prolancer {
        background: #fff url(img/bg-home-prolancer.png) no-repeat center center !important;
        background-size: cover !important;
    }
    #featured .container {
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    section#parceiro {
        /*overflow: hidden;*/
    }
}


@media (max-width: 767px) {
    #featured {
        height: auto;
        /* transition: height 9999999s; */
        position: relative;
        background: #160f29 !important;
        padding-bottom: 5.5rem;
    }
    #featured .c2a {
        padding: 1.05rem 1.46rem;
        margin-top: 3rem;
    }
    #featured .container {
        /* position: absolute; */
        /* top: 48%; */
        /* transform: translateY(-50%); */
    }
    #featured h1 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        text-align: center;
    }
}

#featured p {
    margin: 0 auto;
    text-align: center;
    color: #dedede;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (min-width: 1024px){
    #about-v2 .container-fluid, section#info .container-fluid, section#products .container-fluid {
        width: 90%;
        max-width: 1440px;
    }
}

#devs .dev-from {
    border-bottom: 2px solid #000;
    padding-bottom: 1.5rem;
    margin-top: 2rem;
}

#devs img.dev {
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    display: block;
    margin: 0 auto;
}

#info h4 {
    margin-bottom: 4rem;
}

footer #register .c2a {
    display: inline-block;
    margin: 0 auto;
    background: #fff;
    color: #478af4;
    padding: 1.2rem 2rem;
    font-size: 1.5rem;
}


.carousel {
    margin-bottom: 6rem;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid #000;
    margin: 0 1px;
}

.carousel-indicators .active, .carousel-indicators li:hover {
    width: 15px;
    height: 15px;
    margin: 0 1px;
    background: #000;
}

#carousel-devs {
    margin-bottom: 0px;
}

.about-slider-index {
    width: 100%;
    padding: 1rem 0px;
    position: relative;
    margin-bottom: 3rem;
}

.about-slider-index:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    border-bottom: 3px solid #000;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.about-slider-index li {
    padding: 0px;
    width: auto;
    float: left;
    margin-left: 16.777%;
}

.about-slider-index li:first-child {
    margin-left: 0px;
}

.about-slider-index li div.icon-wrapper:hover, .about-slider-index li.active div.icon-wrapper {
    background: #000;
    color: #fff;
}

.about-slider-index li div.icon-wrapper {
    width: 75px;
    height: 75px;
    max-width: 100%;
    /* margin: 0 auto; */
    cursor: pointer;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    background: #fff;
    position: relative;
    z-index: 5;
    border: 3px solid #000;
    transition: background 0.2s, color 0.2s;
}

.about-slider-index li div.icon-wrapper i {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .about-slider-index li {
        margin-left: 15.02%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .about-slider-index li {
        margin-left: 11.98%;
    }
    nav .navbar-brand {
        min-width: 68px;
        width: 68px;
    }
    nav .navbar-brand h1 {
        display: none;
    }
}


/*Home*/


/*Register and Login*/

section#login, section#dev-register {
    background: #f6f6f7;
}

section#register {
    padding-top: 102px;
    margin-bottom: 0px;
}

section#register form label {
    margin-bottom: 10px;
    font-family: 'Montserrat Bold', sans-serif;
    color: #000;
}


section#register select[multiple] {
    border-radius: 15px;
    padding: 7px 10px;
}



select {
    -webkit-appearance: none;
}

section#register div.help-block.with-errors ul li, section#login div.help-block.with-errors ul li {
    font-size: 0.8rem;
    padding-left: 10px;
}

section#register .carousel {
    margin-bottom: 0px;
}

section#register h1 {
    margin-bottom: 0.6rem;
}

section#register label.success {
    display: block;
    text-align: center;
    color: #478af4;
    margin-bottom: 1rem;
}

section#register .form-group {
    margin-bottom: 25px;
}

section#register textarea {
    width: 100%;
    padding: 5px 10px;
    border: 2px solid #000;
    border-radius: 17px;
    font-size: 0.9rem;
}

section#register form .has-error textarea {
    border-color: #bf4a4a;
}

section#register form .has-danger textarea {
    border-color: #bf4a4a;
}

section#register h1 {
    margin-bottom: 35px;
}

section#register div.progress-bar {
    width: 100%;
    height: 16px;
    border-radius: 15px;
    border: 2px solid #000;
    overflow: hidden;
    background: #fff;
    margin-bottom: 30px;
}

section#register div.progress-bar .progress {
    background: #478af4;
    height: 100%;
    width: 0%;
    transition: width 0.5s;
    border-radius: 3px;
}

section#register h5 {
    margin-bottom: 5px;
    margin-top: 30px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.align-center {
    display: inline-block;
    margin: 0 auto;
}

.c2a.secondary {
    border: 2px solid #000;
    background: #fff;
    color: #000;
}

.c2a.secondary:hover, .c2a.secondary:focus {
    background: #000 !important;
    color: #fff !important;
    border: 2px solid #000 !important;
}

section#register p {
    margin-bottom: 10px;
    line-height: 1.2rem;
}

@media (max-width: 767px) {
    section#register h1 {
        font-size: 1.4rem;
    }
    .navbar-collapse.collapse {
        -webkit-transition: height 0.0s !important;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background: #000;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: #fff;
}

.has-error .select2-container .select2-selection--single .select2-selection__rendered, .has-danger .select2-container .select2-selection--single .select2-selection__rendered {
    border-color: #BF4A4A !important;
}

@media (max-width: 1024px) {
    section#login {
        padding-top: 6rem;
    }
}

@media (min-width: 1025px) {
    section#login {
        position: relative;
        height: 100vh;
    }
    section#login .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}

.login-links {
    color: #b6b5bb;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    transition: color 0.4s;
}


/*Project Panel*/

section#project {
    background: #f6f6f7;
    min-height: 100vh;
    padding: 5.5rem 0 0;
}

div.card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035);
    background: #fff;
}
div.card.padding {
    padding: 2.8rem;
}

div.card ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #f1f1f1;
    border-left: none;
}

div.card ul li:last-child {
    border-bottom: none;
}

div.card div.title {
    background: #ffffff;
    padding: 10px 20px;
    color: #060606;
    font-size: 1.05rem;
    /* border-top: 4px solid #478af4; */
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.5px;
}

div.card div.title i {
    margin-right: 10px;
}

div.card h4 {
    color: #cac5c5;
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 1rem;
    margin-bottom: 5px;
    line-height: 1.3rem;
}

div.card p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #a29fa9;
}
div.card#project-info p {
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
}
div.card#gp .manager-name {
    font-size: 1.2rem;
    color: #000;
}

.round {
    border-radius: 200px;
}

.c2a.inverted, a.c2a.inverse {
    background: transparent;
    color: #160f29 !important;
    border: 1px solid #160f19;
}

a.inverted:hover, a.inverted:focus, a.inverted:active,a.inverse:hover, a.inverse:focus, a.inverse:active {
    background: #160f19 !important;
    color: #fff !important;
}

div.form-group label {
    color: #160f29;
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 5px;
    font-family: 'Source Sans Pro', sans-serif;
}


div.card a.gp-mail {
    width: 23px;
    height: 23px;
    display: inline-block;
    padding: 1px 0px;
    font-size: 1rem;
    color: #fff;
}

div.card a.gp-mail i {
    margin-left: 0px;
    font-size: 0.8rem;
}

.right-caret {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid #000000;
    display: inline-block;
    height: 0;
    opacity: 0.3;
    vertical-align: top;
    width: 0;
}

div.card a {
    font-size: 0.905rem;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none !important;
}
div.card .message.to a {
    color: #fff;
}

div#chat div#messages {
    padding: 20px;
    padding-bottom: 0px;
    /*overflow-y: scroll;*/
}

div#chat div#messages div.message {
    font-size: 0.905rem;
    color: #433d52;
    display: inline-block;
    padding: 7px 10px 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    clear: both;
    max-width: 65%;
    word-wrap: break-word;
    letter-spacing: 0.4px;
}

.message.to+.message.from, .message.from+.message.to {
    margin-top: 15px;
}

div#chat div#messages div.message.from {
    background: #f4f4f5;
    float: right;
    border-top-right-radius: 0;
}
div#chat div#messages div.message.waiting {
    opacity: 0.25;
}

div#chat div#messages div.message.to {
    background: #478af4;
    float: left;
    color: #fff;
    border-top-left-radius: 0;
}

div#respond {
    margin-top: 10px;
}

div#respond, form#convForm {
    padding: 5px;
}

div#respond form#respond-form textarea {
    border: none;
    padding: 7px 10px;
    outline: none;
    font-size: 0.905rem;
    width: 88%;
    line-height: 1.3em;
    min-height: 1.7em;
    max-height: 10rem;
    display: block;
    float: left;
    max-width: 88%;
    margin-right: 2.5%;
}

div#respond form#respond-form button[type=submit] {
    margin: 0;
    width: 9%;
    box-sizing: border-box;
    border-radius: 9px;
    border: none;
    padding: 7px;
    background: #ffffff;
    color: #080808;
    font-family: 'Montserrat Bold', sans-serif;
}

div#chat div#messages {
    max-height: 71vh;
    height: 577px;
    overflow-y: scroll;
}

@media (max-width: 767px) {
    div#chat div#messages {
        max-height: 60vh;
    }
}

div#chat div#messages::-webkit-scrollbar, div#feed ul::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

label.btn.attachments {
    padding-left: 9%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    color: #222;
    width: 32px;
    height: 33px;
    font-size: 1.5rem;
}

div#respond form#respond-form {
    width: calc(100% - 33px);
    float: right;
}

div#chat div.message.file i {
    margin-left: 0px;
    margin-right: 10px;
}

div#chat div.message.file {
    padding: 15px 19px !important;
    text-decoration: underline;
}

div#feed ul li {
    font-size: 0.75rem;
    color: #333;
    line-height: 1.1rem;
}

div#feed ul li a {
    font-size: 0.8rem;
}

div#feed>ul {
    height: 212px;
    overflow-y: scroll;
}

div#feed ul li b {
    max-width: 100%;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    /* line-height: 1.2rem; */
    margin-bottom: -4px;
}

div.card div.feed-actions {
    border-bottom: 1px solid #e1e1e1;
}

div.card div.feed-actions div.action {
    display: inline-block;
    width: 50%;
    float: left;
    text-align: center;
    padding: 0 0 5px;
}

div.card div.feed-actions div.action:first-child {
    /* border-right: 1px solid #e1e1e1; */
}

div.card div.action ul li {
    padding: 3px;
    font-family: 'Montserrat Regular', sans-serif;
    text-align: center;
}

div.card div.action ul li a {
    font-weight: normal;
    font-family: 'Montserrat Regular', sans-serif;
    padding: 4px 8px;
    display: block;
    text-align: center;
}

div.card div.action ul li a:hover, div.card div.action ul li a:focus, div.card div.action ul li a:active {
    background: #f1f1f1;
}

div.card div.action .dropdown-menu {
    min-width: 100%;
}

div.card div.action a i {
    margin-left: 0;
    margin-right: 5px;
}

div.card .btn-pay {
    background: #2bb377;
    border-radius: 0;
    text-align: left;
    padding: 8px 20px;
    color: #fff;
}

div.card .btn-pay.disabled {
    background: #b1b1b1;
    color: #efefef;
}

section.has-boxes {
    background: #fcfcfc;
}

section.has-boxes ul li.box {
    background: #fff;
    border-radius: 8px;
    box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035);
    padding: 3.5rem 2rem 3.5rem 0;
    margin-bottom: 4% !important;
    height: 290px;
}

section.has-boxes ul li.box.no-img {
    padding: 3.5rem 2.5rem 2rem;
}

section.has-boxes ul li.box h3 {
    font-size: 1.4rem;
}

section.has-boxes ul li.box p {
    font-size: 0.96rem;
}
section.has-boxes ul li.box img {
    border-radius: 50%;
    box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.07);
}
section.has-boxes ul li.box.no-img img {
    border-radius: 0;
    box-shadow: none;
}

@media (min-width: 768px) {
    section.has-boxes ul li.box img {
        max-width: 77%;
        margin: 0 auto;
    }
    section.has-boxes ul li.box {
        width: 51%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    section.has-boxes ul li.box {
        height: auto;
    }
    section.has-boxes ul li.box h3 {
        font-size: 1.1rem;
    }
}

@media (min-width: 901px) and (max-width: 1024px) {
    section.has-boxes ul li.box {
        height: 320px;
    }
}

@media (max-width: 767px) {
    section.has-boxes ul li.box {
        height: auto;
        padding-right: inherit;
    }
    section.has-boxes ul li.box img {
        margin: 0 auto;
        margin-bottom: 1rem;
        max-width: 41%;
    }
    section.has-boxes ul li.box {
        padding: 3rem 15px;
        /* text-align: center; */
        margin: 0 15px;
        margin-bottom: 40px !important;
    }
    section#about-v2 ul li.box {
        margin: 0 0 0 8.33333%;
    }
    section#project p#status {
        text-align: center;
    }
}

@media (min-width: 1024px) {
    section.has-boxes ul .row {
        display: table;
        display: flex;
        /* justify-content: center; */
    }
    section.has-boxes ul li.box {
        width: 29.3333%;
        margin: 0 auto;
        height: auto;
    }
}

section#project h3.project-title {
    margin-bottom: 0.7rem !important;
}

section#project p#status {
    color: #7F7F7F;
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 1rem;
}

ul.milestones span.title {
    display: block;
}

ul.milestones li.milestone ul.sprints span.title {
    font-size: 0.95rem;
}

ul.milestones li.milestone ul.sprints li.sprint ul.features li.feature {
    padding: 0px 20px;
    border-bottom: none;
    margin-top: 7px;
}

ul.milestones li.milestone ul.sprints li.sprint ul.features li.feature:first-child {
    margin-top: 8px;
}

ul.milestones li.milestone ul.sprints li.sprint {
    border-bottom: none;
    padding: 0 20px;
    margin-top: 13px;
}

ul.milestones li.milestone ul.sprints li.sprint:first-child {
    margin-top: 15px;
}

a.c2a.c2a-danger {
    background: #8b0000;
    border-color: #8b0000;
}

a.c2a.c2a-danger:hover, a.c2a.c2a-danger:active, a.c2a.c2a-danger:focus {
    background: #5e0000 !important;
    border-color: #5e0000 !important;
}

section#project ul.team li.member p {
    max-height: 1.55rem;
    overflow: hidden;
}

.pie {
    padding-bottom: 147px;
    width: 135px;
    display: inline-block;
    position: relative;
}

.pie div.progress {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
    background: #f1f1f1;
    background-image: linear-gradient(to right, transparent 50%, #478af4 0);
    border: 1px solid #ffffff;
    color: transparent;
    text-align: center;
    overflow: hidden;
}

@keyframes spin {
    to {
        transform: rotate(.5turn);
    }
}

@keyframes bg {
    50% {
        background: #478af4;
    }
}

.pie div.progress::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: inherit;
    transform-origin: left;
    animation: spin 50s linear infinite, bg 100s step-end infinite;
    animation-play-state: paused;
    animation-delay: inherit;
}

div.pie div.progress p {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translateY(-50%) translateX(-50%);
}

.pie div.progress::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 75%;
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: #fff;
    z-index: 2;
    border: 1px solid #e8e8e8;
}

#dev-progress ul {
    padding: 19px 30px;
}

#dev-progress ul li {
    border: none;
}

div.trello-canvas {
    overflow-x: auto;
    padding: 10px;
    width: 100%;
}

div.trello-canvas ul.lists {
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
    word-wrap: normal;
    padding-bottom: 10px;
}

div.trello-canvas ul.lists li.list {
    background: #E2E4E6;
    border-radius: 3px;
    box-sizing: border-box;
    width: 270px;
    margin: 0 5px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
    padding: 8px 10px;
}

div.trello-canvas ul.lists li.list p {
    color: #4d4d4d;
    font: 14px 'Montserrat Bold', sans-serif;
    margin: 0 0 9px;
}

div.trello-canvas ul.lists li.list ul.cards li.card {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    z-index: 0;
    padding: 7px 10px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Montserrat Light', sans-serif;
    color: #4d4d4d;
}


div.card h1 {
    font-size: 1.8rem;
}

div.card h2 {
    font-size: 1.4rem;
}

div.card h3 {
    font-size: 1.2rem;
}

div.card h4 {
    font-size: 1.25rem;
    letter-spacing: 0.5px;
}
div.card h4 small {
    color: inherit !important;
}
div.card h5 {
    font-size: 0.8rem;
}

div.card h6 {
    font-size: 0.7rem;
}

div#current-milestone-info {
    padding-bottom: 5px;
}

div#current-milestone-info>ul>li {
    padding: 10px 20px 10px 30px;
}

div#current-milestone-info ul.sprint-features li {
    padding: 3px 5px 3px 20px;
    font-size: 0.8rem;
    border-bottom: none;
    color: #acacac;
}

div#current-milestone-info.manager ul.sprint-features li {
    cursor: pointer;
}

div#current-milestone-info ul.sprint-features li i {
    font-size: 0.6rem;
}

div#current-milestone-info ul.sprint-features li.done {
    color: #000;
}

input.stealth-input {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 4px;
}

.card#project-progress {
    padding-bottom: 10px;
    overflow: visible;
}

#project-progress ul.milestones {
    text-align: center;
}

#project-progress ul.milestones>li {
    display: inline-block;
    border-bottom: none;
}

.card#project-progress .dropdown-menu {
    min-width: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
}

.card#project-progress .dropdown-menu li {
    padding: 0;
}

.card#project-progress .dropdown-menu a {
    padding: 10px 23px;
}

.card#project-progress .dropdown-menu a:hover {
    background: #e5e5e5;
}

.card#current-milestone-info {
    overflow: visible;
}

.sprint-features .undone i {
    display: none;
}

#registerv2 {
    background: #f4f4f4;
    min-height: 100vh;
    padding-bottom: 0;
    padding-top: 6vh;
}

#registerv2 .card {
    border-color: #fff;
    min-height: 75vh;
}

@media screen and (max-width: 767px) {
    #registerv2 .card {
        min-height: 90vh;
    }
}

.login-card {
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035);
    background-color: #fff;
    padding: 30px 0 50px;
    position: relative;
}

.recover-login {
    display: table;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.recover-login .login-links:hover {
    color: #160f29 !important;
}

.login-card .alert {
    background: #160f29;
    border: none;
    /* padding: 11px 15px; */
    box-shadow: none;
    font-family: "Source Sans Pro", sans-serif;
    position: absolute;
    font-size: 1rem;
    color: #fff;
    border-radius: 100px;
    box-shadow: none !important;
}

.alert.alert-danger {
    color: #ffffff;
    background: #f64747;
}

.scroll-down-btn {
    position: absolute;
    top: -200px;
    right: 0;
    opacity: 0 !important;
    transform: translateY(-200px);
    z-index: 9999;
    font-size: 0.9rem !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.affix .scroll-down-btn {
    float: right;
    margin-top: 9px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1 !important;
    transform: translateY(0);
    animation-name: slide-btn;
    animation-duration: 0.4s;
}

/*@keyframes slide-btn {
    0% {
        position: absolute;
        top: -200;
        transform: translateY(-200px);
    }
    100% {
        top: 0;
        opacity: 1;
        transform: translateY(0);
    }
}*/

section#dev-register .dev-card, .simple-card {
    border-radius: 5px;
    margin-bottom: 60px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    padding: 40px;
}

section#dev-register label {
    color: #478af4;
    font-size: 13px;
    padding-left: 20px;
    padding-bottom: 5px;
    font-family: 'Montserrat Bold', sans-serif;
}

section#dev-register input.small-input, section#dev-register input.full-input {
    background: #fff;
    font-family: 'Montserrat Regular', sans-serif;
    padding: 0.55rem 1.45rem;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    font-size: 0.9rem;
    color: #a0a0a0;
    border: 1px solid #a0a0a0;
    text-align: left;
    width: 100%;
}

section#dev-register .btn-form-dev, section#dev-register select {
    color: #a0a0a0;
    border: 1px solid #a0a0a0;
    text-align: left;
    display: block;
    width: 100%;
    font-family: 'Montserrat Regular', sans-serif;
    padding: 0.55rem 1.45rem;
    border-radius: 19px;
    font-size: 0.9rem;
}

section#dev-register select {
    background: url(./img/down-arrow.png) no-repeat;
    background-size: 8px;
    background-position: 96.4% 50%;
}

section#dev-register select:focus, section#dev-register input:focus {
    box-shadow: none;
    outline: none !important;
}

section#dev-register .btn-form-dev:hover {
    background: #478af4;
    color: #fff;
}

section#dev-register .dropdown-form-dev {
    top: 90%;
}

section#dev-register .dropdown-form-dev li {}

section#dev-register .dropdown-form-dev li a {}

section#dev-register select option {
    background: #ffffff;
    width: 90%;
    margin: 0 auto;
    outline: none;
}

section#dev-register select option:hover {
    background-color: #a0a0a0;
}

section#dev-register label[for="foto-dev"] {
    background: #fff;
    font-family: 'Montserrat Regular', sans-serif;
    padding: 0.55rem 1.45rem;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    font-size: 0.9rem;
    color: #a0a0a0;
    border: 1px solid #a0a0a0;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

section#dev-register input[type="file"]#foto-dev {
    display: none;
}

section#dev-register .finish-btn-dev {
    background: #478af4;
    color: #fff;
    font-family: 'Montserrat Regular', sans-serif;
    display: inline-block;
    border: none;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding: 0.48rem 1.5rem;
    font-size: 1rem;
    transition: all 0.4s, background 0.2s, color 0.2s, border 0.2s;
    float: right;
    margin-top: -30px;
}

nav.navbar ul.nav>li.open>a.user-card,
nav.navbar ul.nav>li.open>a.dashboard-menu {
    background: #ffffff;
    box-shadow: none;
}

nav.navbar ul.nav>li>a.user-card, nav.navbar ul.nav>li>a.dashboard-menu {
    border-radius: 5px;
    background-color: #fff;
    padding: 0.3rem 0.85rem;
}

nav.navbar ul.nav>li>a.user-card span {
    transition: none !important;
}

nav.navbar ul.nav>li>ul.user-card-dropdown, nav.navbar ul.nav>li>ul.dashboard-dropdown {
    background: #fff;
    padding-bottom: 0;
    padding-top: 0;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
}

nav.navbar ul.nav>li>ul.user-card-dropdown li {
    /* border-top: 1px solid #e0e0e0; */
}

nav.navbar ul.nav>li>ul.user-card-dropdown li:first-child, nav.navbar ul.nav>li>ul.dashboard-dropdown li:first-child {
    border: none !important;
    border-radius: 5px;
}

nav.navbar ul.nav>li>ul.user-card-dropdown li:first-child a, nav.navbar ul.nav>li>ul.dashboard-dropdown li:first-child a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

nav.navbar ul.nav>li>ul.user-card-dropdown li:last-child a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav.navbar ul.nav>li>ul.user-card-dropdown li a, nav.navbar ul.nav>li>ul.dashboard-dropdown li a {
    color: #b3b3b3;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0.5rem 1.05rem !important;
}

section#user-home {
    min-height: 100vh;
    background-color: #f6f6f7;
}

section#user-home h1.text-center {
    font-size: 0.9rem;
    color: #a09da7;
    font-family: 'Source Sans Pro', sans-serif;
}

section#user-home div.project-card, section#user-home a.project-card {
    border-radius: 8px;
    box-shadow: 9px 9px 28px 2px rgba(0, 0, 0, 0.035);
    background-color: #fff;
    padding: 32px 0;
    padding-bottom: 1.83rem;
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    order: 0;
}
div.project-card.not-available * {
    color: #dcdbde !important;
}

section#user-home a.project-card {
    border: none;
    padding: 44px 20px;
    color: #a09da7;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
}

section#user-home a.project-card:hover {
    color: #160f29;
}

section#user-home div.project-card .btn-product {
    /* font-size: 0.7rem; */
    padding: 0.3rem 0.8rem;
    float: right;
    margin-top: 3px;
}

@media (max-width: 767px) {
    section#user-home div.project-card .btn-product {
        float: none;
        clear: both;
        margin-top: 10px;
        margin-left: -5px;
        font-size: 0.75rem;
        text-align: center;
        width: 70%;
        margin: 10px auto;
        max-width: 180px;
    }
    section#user-home div.project-card .project-name {
        text-align: left;
        font-size: 1.3rem !important;
        float: none !important;
    }
    section#user-home[role="0"] div.project-card .project-name {
        text-align: center;
    }
    section#user-home div.project-card .project-lower .infos .project-status {
        text-align: center;
    }
}

section#user-home div.project-card .project-name {
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 23px);
    overflow: hidden;
    font-weight: 400;
    color: #160f19;
    -webkit-font-smoothing: antialiased;
}
section#user-home div.project-card .project-author, div.dev .prolancer-role {
    font-size: 1.05rem;
    margin-bottom: 0.5rem;
    -webkit-font-smoothing: antialiased;
    margin-top: 0.3rem;
    text-align: left;
}

section#user-home div.project-card .project-divider {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    margin: 25px 0;
}

section#user-home div.project-card .project-upper, section#user-home div.project-card .project-lower {
    padding: 0 35px;
    width: 100%;
    align-self: flex-start;
}

section#user-home div.project-card .infos h6 {
    color: #bab7bf;
    font-size: 0.9rem;
    line-height: 1.4;
}

section#user-home div.project-card .project-lower .infos .project-status {
    color: #b9b9b9;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.facebook-login {
    background-color: #3B5998 !important;
    border-color: #3B5998 !important;
}
.facebook-login:hover, .facebook-login:active, .facebook-login:focus {
    background-color: #343e76 !important;
    border-color: #343e76 !important;
}
.min-screen-size {
    min-height: 100vh;
}
.green {
    color: #478af4 !important;
}
#dev-register.min-screen-size {
    padding-bottom: 1rem;
}
i.left {
    margin-right: 7px !important;
    margin-left: 0 !important;
}
i.right {
    margin-left: 7px !important;
    margin-right: 0 !important;
}
.simple-card p {
    color: #8c8c8c;
}
@media screen and (max-width: 767px) {
    #dev-register .simple-card a.conectar {
        font-size: 0.8rem;
    }
    .new-logo-home {
        top: 30px !important;
        font-size: 2.2rem !important;
    }
}
.simple-card small {
    font-size: 57%;
    font-family: 'Montserrat Regular', sans-serif;
    color: #b9b9b9;
}
@media screen and (max-width: 767px) {
    .xdsoft_datetimepicker {
        left: 10px !important;
    }
}
section.gray-bg {
    background: #f4f4f4;
}
.alert {
    padding: 0.6rem 2.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    border: none !important;
    margin-bottom: 0;
    position: absolute;
    border-radius: 100px;
    text-align: center;
    top: 0;
    transform: translate(-50%,-75%);
    left: 50%;
    background: #160f19;
    color: #fff;
    white-space: nowrap;
    z-index: 3;
}
.alert.alert-success {
    background: #478af4;
}
.msg-count {
    display: inline-block;
    position: relative;
    top: 2px;
    left: 16px;
    color: #478af4;
    text-align: center;
}
.msg-count[msg-count='0'] {
    display: none;
}
.msg-count span {
    color: #fff;
    z-index: 10;
    position: relative;
    font-size: 0.9em;
    top: -1px;
}
span.msg-count {
    top: 0;
    font-size: 0.8rem;
}
span.msg-count i {
    font-size: 1.85em;
}
.msg-count i {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    font-size: 1.25rem;
    top: 1px;
    margin-left: 0;
}
.navbar-profile-picture {
    max-height: 25px;
    margin-right: 8px;
    width: auto;
    margin-top: -2px;
}
section#profile #foto {
    display: none;
}
section#profile label[for="foto"] {
    background: #fff;
    font-family: 'Montserrat Regular', sans-serif;
    padding: 0.45rem 1.45rem;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    font-size: 0.9rem;
    color: #a0a0a0;
    border: 1px solid #a0a0a0;
    text-align: left;
    width: 100%;
    cursor: pointer;
    float: left;
    width: auto;
}
@media screen and (max-width: 767px) {
    section#profile label[for="foto"] {
        width: 100%;
        text-align: center;
    }
    section#profile form#profile-form input[type=submit] {
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 0.905rem;
        line-height: 1rem;
    }
}
.profile-img-wrapper {
    padding-top: 100%;
    position: relative;
    border-radius: 200px;
    overflow: hidden;
    background-size: cover !important;
    background-position: center center !important;
}
.profile-img-wrapper img {
    position: absolute;
    width:100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.new-logo-home {
    position: absolute;
    top: 65px;
    color: #fff;
    font-size: 3.1rem;
    left: 50%;
    transform: translateX(-50%);
}
.logo-seta {position: absolute;bottom: 30px;left: 50%;transform: translateX(-50%);color: #a09da7;font-size: 1.5rem;}
.link-logo-seta {
}
#password-modal h4 {
    color: #525252;
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 1.3rem;
}
#password-modal button {
    padding: 0.5rem 0.85rem !important;
    padding-right: 1.1rem;
}
@media (min-width: 1330px) {
    .wrapper-astronault {
        overflow-x: hidden;
    }
    .wrapper-astronault .astronauta-solo {
        position: absolute;
        background-image: url(img/astronauta-solo.png);
        width: 73%;
        height: 25vw;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .wrapper-astronault .foguete {
        position: absolute;
        background-image: url(img/foguete.png);
        width: 35%;
        height: 25vw;
        background-size: 75%;
        background-repeat: no-repeat;
    }
    .wrapper-astronault .grupo-estrela1 {
        position: absolute;
        background-image: url(img/grupo-estrela1.png);
        width: 35%;
        height: 20vw;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .wrapper-astronault .grupo-estrela2 {
        position: absolute;
        background-image: url(img/grupo-estrela2.png);
        width: 40%;
        height: 20vw;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .wrapper-astronault .grupo-estrela3 {
        position: absolute;
        background-image: url(img/grupo-estrela3.png);
        width: 25%;
        height: 20vw;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .wrapper-astronault .gd-estrela1 {
        position: absolute;
        background-image: url(img/estrela-maior-1.png);
        width: 20%;
        height: 20vw;
        background-size: 40%;
        background-repeat: no-repeat;
    }
    .wrapper-astronault .gd-estrela2 {
        position: absolute;
        background-image: url(img/estrela-maior-2.png);
        width: 20%;
        height: 20vw;
        background-size: 32%;
        background-repeat: no-repeat;
    }
    .wrapper-astronault .gd-estrela3 {
        position: absolute;
        background-image: url(img/estrela-maior-3.png);
        width: 18%;
        height: 20vw;
        background-size: 32%;
        background-repeat: no-repeat;
        background-position-x: 25%;
    }
    .wrapper-astronault .planeta {
        position: absolute;
        background-image: url(img/planeta.png);
        width: 35%;
        height: 280px;
        background-size: 100%;
        background-repeat: no-repeat;
        overflow-x: hidden;
    }
}
#parceiro>div>div>div>div>div>h3:last-child {
    margin-top: -1.5rem;
    font-family: 'Montserrat Light', sans-serif;
}
.project-card .project-menu {
    position: absolute;
    top: 1px;
    right: 3px;
}
.dropdown-menu li:last-child a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.dropdown-menu li:first-child a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.dropdown-menu li a {
    color: #9e9e9e;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0.5rem 1.05rem !important;
}
.dropdown-menu li:first-child {
    border: none !important;
    border-radius: 5px;
}
.dropdown-menu li {
    /* border-top: 1px solid #e0e0e0; */
}
.dropdown-menu {
    background: #fff;
    padding-bottom: 0;
    padding-top: 0;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    box-shadow: 6px 8px 16px 0px rgba(0, 0, 0, 0.035);
}
.dropdown-menu li a:hover {
    color: #555;
    background: #e0e0e0;
}
.project-menu span.caret {
    color: #999;
}
select.project-status {
    width: auto !important;
    background: transparent !important;
    border: none !important;
    cursor: pointer;
    box-shadow: none !important;
    outline: none;
    padding: 0;
}
@media screen and (max-width: 767px) {
    select.project-status {
        margin: 0 auto;
        text-align: center;
        text-align-last: center;
    }
}
@media screen and (max-width: 1024px) {
    div#respond form#respond-form {
        width: 87%;
    }
    div#respond form#respond-form textarea {
        width: 83%
    }
    div#respond form#respond-form input[type=submit] {
        width: 14%;
    }
}
#register-v3 {
    background: #efefef;
    position: relative;
    padding: 0;
    min-height: 100vh;
    transition: height 9999s;
}
@media screen and (max-width: 1023px) {
    #register-v3 {
        min-height: 0;
        height: calc(100vh - 50px);
        transition: none;
    }
}
#register-v3 .vertical-align {
    position: absolute;
    height: auto;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
div.card#dev-info .dev-img {
    width: 22%;
    margin-right: 1rem;
}
div.card#dev-info .dev-info {
    align-items: stretch;
    width: calc(78% - 1rem);
    position: relative;
}
div.card#dev-info li {
    padding: 15px 25px;
}
div.card#dev-info li:first-child {
    display: table;
    display: flex;
    padding: 27px 20px;
}
div.card#dev-info .dev-info p {
    line-height: 1rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
div.card#dev-info div.trabalho {
}
div.card#dev-info div.trabalho div {
    max-width: 30%;
    float: left;
    margin-right: 1rem;
}
div.card#dev-info div.trabalho div p:last-child {
    font-size: 0.8rem;
}
div.card#dev-info div.trabalho div.horas {
    width: 23%;
}
div.card#dev-info div.trabalho div.periodo {
    width: 25%;
}
div.card#dev-info div.trabalho div.dias-semana {
    width: 41%;
    max-width: none;
    margin-right: 0;
}
div.card#dev-info div.trabalho div.dias-semana p:last-child {
    line-height: 1.1rem;
}
div.card#dev-info div.dev-skills div {
    float: left;
    padding: 1px 7px;
    border: 1px solid #c5bfbf;
    color: #908c8c;
    margin: 4px 6px 4px 0;
    border-radius: 100px;
    font-size: 0.8rem;
}
div.card#dev-info div.dev-skills:after {
    content: '';
    display: table;
    clear: both;
    float: none;
}
div.slide-toggle {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
div.slide-toggle.waiting {
    cursor: wait;
}
div.slide-toggle div.on-text {
    margin-right: 5px;
    display: inline-block;
    font-size: 0.9rem;
}
div.slide-toggle div.off-text {
    display: inline-block;
    margin-left: 5px;
    font-size: 0.9rem;
}
div.slide-toggle div.track {
    width: 60px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
    height: 25px;
    display: inline-block;
    top: 7px;
    transition: background 0.3s;
}
div.slide-toggle.off div.track {
    background: #dbdbdb;
}
div.slide-toggle div.toggle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    z-index: 2;
    top:-1px;
    transition: left 0.3s, transform 0.3s;
}
div.slide-toggle.on div.toggle {
    left: -1px;
}
div.slide-toggle.off div.toggle {
    left: calc(100% + 1px);
    transform: translateX(-100%);
}
div.slide-toggle.on div.on-text {
    color: #000;
    font-weight: bold;
}
div.slide-toggle.on div.off-text {
    color: #ccc;
}
div.slide-toggle.off div.on-text {
    color: #ccc;
    font-weight: normal;
}
div.slide-toggle.off div.off-text {
    color: #000;
    font-weight: bold;
}
section#user-home div.project-card.dev .project-name {
    float: left !important;
}
section#user-home div.project-card.dev .project-name:hover {
    color: #478af4;
}
section#user-home div.project-card.dev.designer .project-name:hover {
    color: #478af4;
}
section#user-home div.project-card.dev .project-lower .infos .project-status {
    text-align: left !important;
}
.dev .msg-count {
    top: 2px;
}
@media screen and (max-width: 768px) {
    .dev .msg-count {
        top: -2px;
    }
}
div.estrelas {
    color: #b9b6be;
    margin-bottom: 1.5rem;
}
#quotes p.quote {
    color: #160f29;
    font-size: 1.25rem;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 1.5rem;
}
#quotes .icon7-estrela {
    margin: 0 3px;
}
#quotes .quote-from-image {
    max-width: 50px;
    height: auto;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.08);
    margin-bottom:5px;
}
#quotes p.quote-from {
    color: #160f29;
    margin-bottom: 5px;
}
@media (min-width: 1024px) {
    #quotes .row {
        display: table;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #quotes .card.quote {
        width: 29%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 17px;
    }
    #quotes.prolancers .card.quote {
        width: 45%;
        margin: 0 15px;
    }
    #quotes .card.quote:first-child {
        /* margin-right: 0; */
    }
}
@media (max-width: 768px) {
    #quotes div.quote {
        margin: 0 15px;
        height: auto;
        margin-bottom: 40px;
    }
    #quotes p.quote {
        line-height: 1.5rem
    }
    #quotes div.quote:first-child {
        margin-top: 0;
    }
}
.c2a.after {
    position: relative;
}
.c2a.after:after {
    /*content: 'Leva menos que dois minutos';*/
    position: absolute;
    bottom: -30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.85rem;
    letter-spacing: 0.4px;
    color: #909090;
    text-align: center;
    width: 100%;
    left: 0;
    opacity: 0.6;
}
.c2a.after.prolancer:after {
    /* content: 'Designers UX e Desenvolvedores'; */
}
.c2a.after.aperte-um-botao:after {
    /*content: "Aperte um bot\e3o e adquira um site";*/
}
.c2a.after.dev-des:after {
    /*content: 'Designer ou Desenvolvedor?';*/
}
section#action-calls {
    background: linear-gradient(90deg, #478af4 0%, #00e1fe 100%) !important;
}
section#action-calls a.c2a {
    width: 77%;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 1.6rem 0.5rem;
    font-size: 1.1rem;
    background: rgba(100,100,100, 0.15);
}
@media (max-width: 768px) {
    section#action-calls a.c2a {
        width: 100%;
        padding: 1.3rem 0.5rem;
    }
    section#action-calls .row div:first-child a.c2a {
        margin-bottom: 5rem;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    section#elite ul li.box {
        width: 40%;
    }
}
.input-style {
    padding: 0.95rem 1.96rem;
    background: #fff;
    border-radius: 25px;
    box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035);
    width: 100%;
    color: #413b51;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    transition: box-shadow 0.2s;
}
.input-style.gray {
    box-shadow: none;
    background: #f6f6f7;
}
#home .input-style {
    padding: 1.05rem 1.96rem;
}
@media (max-width: 768px) {
    .input-style {
        padding: 0.8rem 1.2rem;
    }
}
.input-style:active, .input-style:focus {
    outline: none;
    box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035), 0px 0px 25px -2px rgba(110, 94, 152, 0.2);
}
.input-style.gray:active, .input-style.gray:focus {
    box-shadow: none;
    background: #ededee;
}
.c2a:active, .c2a:focus {
    outline: none;
}

.flex-center {
    align-items: center;
}
.xs-flex-wrap {
    flex-wrap: wrap;
}
.xs-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
@media (min-width: 768px) {
    .sm-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }
    .sm-flex-wrap {
        flex-wrap: wrap;
    }
    .sm-flex-nowrap {
        flex-wrap: nowrap;
    }
}
@media (min-width: 1024px) {
    .md-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }
    .md-flex-wrap {
        flex-wrap: wrap;
    }
    .md-flex-nowrap {
        flex-wrap: nowrap;
    }
}
@media (min-width: 1280px) {
    .lg-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }
    .lg-flex-wrap {
        flex-wrap: wrap;
    }
    .lg-flex-nowrap {
        flex-wrap: nowrap;
    }
}
@media (max-width: 767px) {
    footer .card {
        margin-bottom: 1.5rem;
    }
    footer .credits p {
        text-align: center;
        margin: 2rem 0 1rem;
        width: 100%;
    }
    footer .social a {
        margin: 0 auto;
    }
    footer {
        padding: 3rem 0;
    }
    .input-style {
        margin-bottom: 1rem;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    footer .social {
        margin: 0 auto 1.5rem;
    }
    footer .credits p {
        text-align: center;
        margin: 0 auto 1rem;
    }
}
#home section h2 {
    margin-bottom: 4.5rem;
}
@media (max-width: 768px) {
    #home section h2 {
        margin-bottom: 2.2rem;
    }
}
#user-home .glyphicon-menu-down {
    color: #a09da7 !important;
}
#project .card p {
    font-family: 'Source Sans Pro', sans-serif;
}
#blog .card {
    overflow: hidden;
    margin: 1.5rem auto;
    width: 29.333%;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 767px) {
    #blog .card {
        width: 85%;
    }
    #blog .card.full {
        width: 85% !important;
    }
    #blog .card.full .img-wrapper {
        width: 100% !important;
    }
    #blog .card.full .full-wrapper {
        width: 100% !important;
    }
    #blog .card.full .text-wrapper {
        -webkit-line-clamp: 99 !important;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    #blog .card {
        width: 43%;
    }
    #blog .card.full {
        width: 93% !important;
    }
    #blog .card.full .img-wrapper {
        width: 54% !important;
    }
    #blog .card.full .full-wrapper {
        width: 46% !important;
    }
}
#blog .card .img-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}
#blog .card .text-wrapper {
    padding: 1.5rem;
    align-self: center;
    flex-wrap: wrap;
}
#blog .card .full-wrapper {
    width: 100%;
}
#blog .card.full .img-wrapper {
    align-self: auto;
}
#blog .card.full .text-wrapper h3 {
    margin-bottom: 8px;
}
#blog .card.full .text-wrapper {
    height: auto;
}
#blog .card.full .text-wrapper p {
    color: #a29fa9;
    font-size: 0.9rem;
}
#blog .card.full {
    width: 96%;
}
#blog .card.full .img-wrapper {
    width: 65.3%;
}
#blog .card.full .full-wrapper {
    width: 34.69%;
}

#blog .card .bottom {
    justify-self: flex-end;
    padding: 1rem 1.5rem 1.5rem;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
#blog .card .bottom p {
    align-self: flex-end;
    font-size: 0.9rem !important;
    color: #a29fa9;
}
a.read-more {
    display: inline-flex;

    justify-self: flex-end;
    align-self: flex-end;
    border: 1px solid #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9rem;
    color: #fff;
    padding: 4px 15px;
    position: relative;
    letter-spacing: 0.4px;
    top: 3px;
    transition: color 0.2s, background 0.2s, border 0.2s;
}
a.read-more:hover {
    color: #f7991e;
    background: #fff;
    border: 1px solid #f7991e;
}
.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035);
}
footer .icon-bossa {
    font-size: 2.5rem;
}
section.has-boxes ul li.box.vertical {
    padding: 3.5rem 2rem 3.5rem;
}
section#products .box h3, section#products .box h3 a {
    margin-bottom: 1.5rem;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.4rem;
}
section#products .box p {
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    line-height: 1.2;
    display: inline-block;
    padding-left: 1.9rem;
    text-align: left;
}
section#products .product-info img {
    float: left;
    max-width: 35px;
    height: auto;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    margin-right: 10px;
}
section#products .product-info {
    margin-bottom: 2.5rem;
}
section#products .product-info .text {
    font-size: 0.85rem;
}
section#products .product-info .text .info {
    display: block;
    font-size: 0.9em;
}
section#products .product-info .text .value {
    display: block;
    font-size: 1.05em;
}
section#products .product-info .price {
    color: #478af4;
}
section#products .product-info .time {
    color: #478af4;
}
section#products .product-info .time img {
    max-width: 28px;
}
section#products.has-boxes ul li.box {
    width: 29%;
    display: flex;
    padding-bottom: 2.8rem;
    flex-wrap: wrap;
}
@media (max-width: 767px) {
    section#products.has-boxes ul li.box {
        width: 95%;
        margin: 0 15px;
        margin-bottom: 40px !important;
        padding: 2rem 1rem;
    }
    section#products .box h3, section#products .box h3 a {
        margin: 10px 0 15px;
    }
    section#products .box a.c2a {
        padding: 0.8rem 1rem !important;
    }
}
@media (max-width: 1023px) {
    section#products a.c2a {
        padding: 1.05rem 3.2rem;
    }
}
section#products .product {
    justify-content: center;
    margin-bottom: 15px;
}
.flex-top {
    align-self: flex-start;
}
.flex-bottom {
    align-self: flex-end;
}
.footer-links {
    margin-top: 20px;
}
.footer-links a {
    color: #cecdd2;
    font-size: 0.85rem;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 15px;
    transition: color 0.2s;
}
.footer-links a:hover, footer .social a:hover {
    color: #160f29;
}
.xs-justify-left {
    justify-content: left;
}
.xs-justify-center {
    justify-content: center;
}
.xs-text-center {
    text-align: center;
}
.xs-text-left {
    text-align: left;
}
@media (min-width: 768px) {
    .sm-justify-left {
        justify-content: left;
    }
    .sm-justify-center {
        justify-content: center;
    }
    .sm-text-center {
        text-align: center;
    }
    .sm-text-left {
        text-align: left;
    }
}
@media (min-width: 1024px) {
    .md-justify-left {
        justify-content: left;
    }
    .md-justify-center {
        justify-content: center;
    }
    .md-text-center {
        text-align: center;
    }
    .md-text-left {
        text-align: left;
    }
}
@media (min-width: 1200px) {
    .lg-justify-left {
        justify-content: left;
    }
    .lg-justify-center {
        justify-content: center;
    }
    .lg-text-center {
        text-align: center;
    }
    .lg-text-left {
        text-align: left;
    }
}
footer .container-fluid {
    max-width: 1600px;
}
#quotes .designer img, #quotes .dev img {
    margin-right: 15px;
}
#quotes .designer p.quote-from, #quotes .designer p.quote-from-small, #quotes .dev p.quote-from, #quotes .dev p.quote-from-small {
    text-align: left;
    white-space: nowrap;
}
#quotes .designer .achieved p {
    color: #478af4 !important;
}
#quotes .dev .achieved p {
    color: #478af4 !important;
}
#quotes.prolancers .card .row>div {
    justify-content: center;
    margin-bottom: 15px;
}
#blog .card .categories {
    font-size: 0.91rem !important;
    color: #9a98a0 !important;
    margin-bottom: 5px;
}
nav.navbar.affix-top li.affix-top-hide {
    display: none;
}
#home nav.navbar a.c2a {
    padding: 0.62rem 2rem;
    margin-top: -6px;
}
nav .c2a .icon7-seta:before {
    left: 0.5rem;
}
#home nav.navbar a.c2a span {
    transform: translateY(1px);
    margin-left: 10px;
    display: inline-block;
    transition: none !important;
}
#home nav.affix {
    animation: fade-in 0.2s;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
nav button span.icon-bar {
    transition: transform 0.25s;
}
nav button span.icon-bar.first {
    transform: rotate(-45deg) translate(-15%, 106%);
}
nav button span.icon-bar.second {
    transform: rotate(45deg) translate(-15%, -120%);
    margin-top: 6px !important;
}
nav button.collapsed span.icon-bar {
    transform: none;
}
#login .input-style {
    background: #f8f8f8;
}
#login .input-style:active, #login .input-style:focus {
    background: #edecee;
    box-shadow: none;
}
.alert:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 15px;
    height: 15px;
    transform: rotate(45deg) translateX(-50%);
    background: #160f19;
}
.alert.alert-success:after {
    background: #478af4;
}
.alert.alert-danger:after {
    background: #F64747;
}
section#products li {
    color: #a29fa9;
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
}
section#products li small {
    font-size: 0.9rem;
}
section#products li>span {
    position: absolute;
    top: 5px;
    font-size: 1.2rem;
}
@media (min-width: 768px) and (max-width: 1199px) {
    section#products.has-boxes ul li.box {
        width: 45%;
    }
    section#products.has-boxes ul li.box img {
        max-width: 50%;
        margin-bottom: 1.5rem;
    }
    section#products.has-boxes ul li.box h3 {
        text-align: center;
    }
}
@media (min-width: 1024px) and (max-width: 1199px) {

    section#products.has-boxes ul li.box img {
        max-width: 35%;
        margin-bottom: 1.5rem;
    }
}
@media (max-width: 767px) {
    section#products ul li ul li {
        padding-left: 1rem;
    }
}
section#products span.best-seller {
    position: absolute;
    top: -1.6rem;
    left: 1rem;
    color: #fbb03b;
}
.c2a.block {
    width: 100%;
    padding: 1.05rem !important;
    text-align: center;
}
section#action-calls a.c2a.after:after {
    color: #fff;
}
section#action-calls {
    padding: 8rem 0;
}
#login .c2a .icon7-seta:before {
    left: 0.5rem;
}
#login .c2a .icon7-seta {
    width: 0;
    display: inline-block;
}
.made-by-prolancer {
    position: absolute;
    bottom: 14px;
    right: 19px;
}

.made-by-prolancer .img-wrapper {
    width: 42px;
    float: left;
    margin-right: 10px;
    border-radius: 50px;
    box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.07);
}

.made-by-prolancer .text-wrapper {
    float: left;
    color: #ccc;
}

.made-by-prolancer img {
    max-width: 100%;
    height: auto;
    display: block;
}

.made-by-prolancer .text-wrapper p {
    font-size: 0.8rem !important;
    color: #807c82 !important;
}
i {
    font-style: italic;
}
.project-status, .prolancer-status {
    color: #bab7bf;
    font-size: 0.9rem;
}
.dev p.msg-count {
    color: #478af4;
}
.project-card.dev p.skills {
    line-height: 1.9em;
    margin-top: 0.3rem;
}
.project-card.dev span.label {
    background: transparent;
    border: 1px solid #bab7bf;
    color: #a09da5 !important;
}
.project-card.dev span.label a {
    color: #a09da5 !important;
    font-size: 0.8rem;
}
.caret {
    font-family: 'icomoon7' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    border: none;
    width: 0.8rem;
    height: 0.8rem;
    text-align: center;
}
.caret:before {
    content: "\e906";
    display: block;
    transform: rotate(90deg);
    font-size: 0.5rem;
    margin-top: 2px;
    margin-right: 0;
}
section#user-home .row>div {
    margin-bottom: 2rem;
}
a.see-all-projects {
    align-self: center;
    width: 100%;
    text-align: center;
    opacity: 0.6;
}

.profile-password-modal form input[type=submit] {
    padding: 0.6rem 1.6rem;
}
#prolancerModal {
    background: rgba(7, 0, 35, 0.7);
    padding: 0 !important;
}
#prolancerModal .modal-content {
    border-radius: 18px;
    box-shadow: none;
    padding: 2rem;
}
#prolancerModal div.strike, #login div.strike {
    position: relative;
    text-align: center;
    margin: 22px 0 15px;
}
#prolancerModal div.strike span,  #login div.strike span {
    display: inline-block;
    padding: 0 5px;
    background: #fff;
    color: #cecdd2;
    position: relative;
    z-index: 1;
}
#prolancerModal div.strike:before,  #login div.strike:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 48%;
    height: 1px;
    width: 100%;
    background: #cecdd2;
}
#prolancerModal h3 {
    font-size: 1.1rem;
    text-align: center;
}
#prolancerModal h2 {
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    margin: 0 auto;
    margin-bottom: 18px;
    width: 60%;
}
#prolancerModal span.icon5-seta {
    display: inline-block;
    margin-bottom: 25px;
    color: #fff;
}
#prolancerModal .input-style {
    margin-bottom: 0;
}
a.c2a.facebook {
    background: #3b5998;
    color: #fff;
}
a.c2a.facebook:hover, a.c2a.facebook:active, a.c2a.facebook:focus {
    background: #fff !important;
    color: #3b5998 !important;
}
a.c2a.linkedin {
    background: #0084bf;
    color: #fff;
}
a.c2a.linkedin:hover, a.c2a.linkedin:active, a.c2a.linkedin:focus {
    background: #fff !important;
    color: #0084bf !important;
}
.alert.inline {
    position: relative;
    transform: none;
    top: initial;
    left: initial;
    display: inline-block;
}
@media (min-width: 768px) {
    .modal-sm {
        width: 430px;
    }
}
.form-group.has-error .input-style, .input-style.has-error {
    box-shadow: 0 0 0 1px rgba(166,0,0,0.3) !important;
    background: #ffeaea !important;
}
div#wrapper-prolancers {
    min-height: 80vh;
}
p.msg-count[data-count="0"] {
    display: none;
}
.navbar-dashboard li.divisor small {
    color: #d6d6d6;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0.7rem 1.05rem 0 !important;
    display: block;
}
nav.navbar ul.nav>li>ul.dashboard-dropdown {
    max-height: 60vh;
    overflow-y: auto;
}
nav.navbar ul.nav>li>ul.dashboard-dropdown li.divisor {
    border-top: 1px solid #dedede;
}
nav.navbar ul.nav>li>ul.dashboard-dropdown li.divisor {
    font-size: 1rem;
}
@media (min-width: 768px) {
    .navbar-dashboard {
        padding: 7px 0;
        margin-top: 6px;
        border-left: 1px solid #ccc;
        margin-left: 8px;
    }
    .navbar-dashboard .dropdown {
        margin: 0;
    }
    .navbar-dashboard a.dashboard-menu {
        font-size: 1.1rem !important;
    }
}
@media (max-width: 767px) {
    .navbar-dashboard li.divisor small {
        background: #f1f1f1;
        text-align: right;
        color: #9a9a9a;
    }
}
span.icon.left {
    margin-right: 7px;
}
span.icon.right {
    margin-left: 7px;
}
#project-progress {
    position: relative;
    padding-bottom: 50px;
    margin-top: 30px;
}
#project-progress .progress-bar {
    width: 100%;
    height: 9px;
    border-radius: 10px;
    background: #dfdfe4;
    box-shadow: none;
}
#project-progress .progress-bar .completed {
    height: 100%;
    background: #fff;
    border-radius: 10px;
}
#project-progress .status-text span {
    font-weight: 500;
    color: #000;
}
#project-progress .status-text {
    position: absolute;
    transform: translateX(-50%);
    color: #c3c3c7;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    white-space: nowrap;
    margin-top: 30px;
    padding-top: 7px;
}
#project-progress .status-text.p15 {
    left: 15%;
}
#project-progress .status-text.p38 {
    left: 38%;
}
#project-progress .status-text.p62 {
    left: 62%;
}
#project-progress .status-text.p85 {
    left: 85%;
}
#project-progress .status-text.current {
    background: #fff;
    padding: 7px 15px;
    border-radius: 7px;
}
#tab-progress #project-progress .completed.mobile {
    display: none;
}
#tab-progress #project-progress .completed.desktop {
    display: block;
}
#project-progress .status-text.current:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
}
.mobile-navbar.affix-bottom {
    bottom: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 9px 0px rgba(0,0,0, 0.08);
}
.mobile-navbar.affix-bottom ul {
    width: 100%;
    padding: 0 15px;
}
.mobile-navbar.affix-bottom ul:after {
    content: '';
    display: table;
    clear: both;
}
.mobile-navbar.affix-bottom ul li {
    float: left;
    width: 33%;
    padding: 8px 0 5px;
}
.mobile-navbar.affix-bottom ul li a {
    width: 100%;
    padding: 5px;
    color: #bab7bf;
}
.mobile-navbar.affix-bottom ul li.active a {
    color: #000;
}
@media screen and (max-width: 767px) {
    section#project {
        padding: 0;
    }
    section#project>.container {
        min-height: 100vh;
        padding-top: 56px;
        padding-bottom: 51px;
    }
    section#project #tab-resumo {
        display: none;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    section#project #tab-progress {
        display: none;
    }
    #tab-chat .md-spacing {
        margin: 0;
    }
    #tab-chat {
        padding-left: 0;
        padding-right: 0;
    }
    #tab-chat div.title {
        display: none;
    }
    #tab-chat div.card {
        background: transparent;
        box-shadow: none;
        border-radius: 0;
    }
    #tab-chat div#chat div#messages {
        max-height: none;
        height: calc(100vh - 171px);
    }
    #tab-chat div#chat div#respond {
        background: #ededef;
        padding: 10px 5px;
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 51px;
    }
    #tab-chat div#chat form#respond-form textarea {
        background: transparent;
        color: #a7a7a8;
    }
    #tab-chat div#respond form#respond-form input[type=submit] {
        background: transparent;
        color: #98959e;
        font-size: 1.5rem;
    }
    #tab-chat label.btn.attachments {
        color: #98959e;
    }
    #tab-chat div#chat div#messages div.message.from {
        background: #fdfdfd;
    }
    #tab-progress h3.project-title {
        display: none;
    }
    #tab-progress div#project-progress {
        height: calc(100vh - 107px);
        margin-top: 0;
        padding-bottom: 0;
    }
    #tab-progress .top-buffer {
        margin-top: 0;
    }
    #tab-progress #project-progress .progress-bar {
        width: 10px;
        height: 100%;
        margin-left: 18px;
    }

    #tab-progress #project-progress .status-text.p15 {
        left: 25px;
        top: 15%;
    }
    #tab-progress #project-progress .status-text.p38 {
        left: 25px;
        top: 38%;
    }
    #tab-progress #project-progress .status-text.p62 {
        left: 25px;
        top: 62%;
    }
    #tab-progress #project-progress .status-text.p85 {
        left: 25px;
        top: 85%;
    }

    #tab-progress #project-progress .status-text {
        transform: translateY(-50%);
        margin-left: 20px;
        padding-top: 7px;
        margin-top: 0;
        white-space: initial;
    }
    #tab-progress #project-progress .completed.desktop {
        display: none;
    }
    #tab-progress #project-progress .completed.mobile {
        display: block;
    }
    #tab-progress #project-progress .status-text.current:before {
        border: 8px solid transparent;
        border-right-color: #fff;
        border-right-width: 10px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-100%, -50%);
    }
    #tab-progress .sm-spacing {
        margin: 0;
    }
    #tab-progress.bottom-buffer {
        margin-bottom: 0;
    }
    #tab-chat div#chat div#messages {
        padding-bottom: 60px;
    }
}
a.simple-link {
    text-decoration: underline;
    color: #4080ff;;
}
.card .c2a+.c2a {
    margin-top: 10px;
}
.c2a.less-padding {
    padding: 0.6rem 1.9rem;
}
.c2a.light-blue {
    background: #4080ff;
    color: #fff;
}
.c2a.light-blue:hover {
    color: #4080ff !important;
}
.c2a.inverse.light-blue {
    background: #fff;
    border: 1px solid #4080ff;
    color: #4080ff !important;
}
.c2a.inverse.light-blue:hover {
    background: #4080ff !important;
    color: #fff !important;
}
.user-status[data-status=""] online, .user-status[data-status=""] offline {
    display: none;
}
.user-status[data-status="online"] online {
    display: inline;
    color: #4080ff;
}
.user-status[data-status="online"] offline {
    display: none;
}
.user-status[data-status="offline"] online {
    display: none;
}
.user-status[data-status="offline"] offline {
    display: inline;
    color: #b95e5e;
}
section#about-v2 .row .slick-track {
    display: flex;
}
@media (min-width: 768px) {
    #home.prolancer #quotes .slick-list {
        margin-bottom: 40px;
    }
}
footer .card {
    position: relative;
}
footer .card .prolancer-hover {
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #160F29;
    color: #fff;
    text-align: center;
    transition: opacity 0.3s;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}
footer .card .prolancer-hover span {
    margin-left: 15px;
    margin-top: -2px;
}
footer .card:hover a.prolancer-hover {
    opacity: 1;
}
@media (max-width: 767px) {
    div#home section:not(:nth-of-type(1)) .c2a.after:after{
        display: none;
    }
}
#home nav.navbar.navbar-default.affix-top {
    background: transparent;
    border: none;
}
#home nav.navbar.affix-top ul.nav>li>a {
    background: transparent;
    color: #fff;
    opacity: 0.8;
    text-shadow: none;
}
.navbar-default.affix-top .navbar-toggle .icon-bar {
    background: #fff;
}
.navbar-default.affix-top .navbar-toggle:focus, .navbar-default.affix-top .navbar-toggle:hover {
    background: transparent;
}
section#featured h3 {
    color: #fff;
    opacity: 0.7;
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 1.1rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
    #featured {
        background: #160f29 !important;
    }
}
div#chat a {
    text-decoration: underline;
}
#prolancerModal button.close {
    top: 8px;
    right: 12px;
    position: absolute;
}
ul.card-tabs {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
ul.card-tabs>li {
    width: 100%;
    text-align: center;
    border: 1px solid #f1f1f1;
    border-right: none;
    padding: 6px !important;
}
ul.card-tabs>li:last-child {
    border-left: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1 !important;
}
ul.card-tabs>li>a {
    color: #0d83ff;
    opacity: 0.3;
    cursor: pointer;
}
ul.card-tabs>li.active>a {
    opacity: 1;
}
div.card div.tab-content ul li.empty {
    display: none;
}
div.card div.tab-content ul li.empty:first-child {
    display: block;
}
div.card h5 {
    color: #4080ff;
    text-align: center;
    font-size: 1.2rem;
    padding: 0 23%;
    margin: 22px 0 15px;
}
div.card li.empty p {
    padding: 0 20%;
    margin-bottom: 15px;
}
div#project-files div.tab-content {
    height: 199px;
    overflow-y: auto;
}
div#project-payment ul li.empty {
    display: none;
}
div#project-payment ul li.empty:last-child {
    display: block;
}
div#project-payment ul li {
    border-bottom: none;
    text-align: center;
}
div#project-payment ul li.installments ul li, div#project-payment ul li.installments-manager ul li {
    padding: 3px 1rem;
    text-align: center;
}
div#project-payment ul li.installments {
    padding-bottom: 25px;
}
div#project-payment ul li.installments ul li div {
    color: #c0bdc7;
    position: relative;
    display: inline-block;
}
div#project-payment ul li.installments ul li div.paid {
    color: #000;
}
div#project-payment ul li.installments ul li div.current {
    /*color: #000;*/
}
div#project-payment ul li.installments ul li div.current:before {
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 1px;
    left: -10px;
    border: 3px solid transparent;
    border-lefT: 5px solid #160f29;
    top: 50%;
    transform: translateY(-50%);
}
div#links ul li a {
    display: block;
    overflow: hidden;
    max-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div#links a:hover, div#files a:hover {
    text-decoration: underline;
}
div#project-payment ul li input {
    display: inline-block;
    border: none;
    background: #f1f1f1;
    padding: 2px;
    color: #444444;
}
div#project-payment .installments-manager #add-installment {
    color: #c0bdc7;
}
div#project-payment .installments-manager span.close:before {
    content: 'x';
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #000 !important;
}
div#project-payment .installments-manager span.close {
    float: none;
    margin-left: -7px;
    opacity: 1;
    position: relative;
    left: -5px;
}
div#project-payment .save {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0.5rem 1rem;
    background:#478AF4;
    color: #fff;
    font-size: 1.1rem;
}
span.check, span.double-check {
    display: inline-block;
    width: 43px;
    height: 20px;
    border-bottom: 2px solid #4080ff;
    border-left: 2px solid #4080ff;
    transform: rotate(-43deg) translateX(6px);
    margin-bottom: 15px;
    position: relative;
}
span.double-check:before {
    content: '';
    display: block;
    width: 43px;
    height: 20px;
    border-bottom: 2px solid #4080ff;
    border-left: 2px solid #4080ff;
    transform: translate(6px, 7px);
    margin-bottom: 15px;
}
.input-style-group {
    display: flex;
}
.input-style-group .input-style.preffix {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.6rem 1rem;
}
.input-style-group .input-style.suffix {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0.6rem 1rem;
}
.input-style-group+.input-style-group {
    margin-top: 15px;
