/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
.flex-center {
    align-items: center;
}
.xs-flex-wrap {
    flex-wrap: wrap;
}
.xs-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
@media (min-width: 768px) {
    .sm-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }
    .sm-flex-wrap {
        flex-wrap: wrap;
    }
    .sm-flex-nowrap {
        flex-wrap: nowrap;
    }
}
@media (min-width: 1024px) {
    .md-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }
    .md-flex-wrap {
        flex-wrap: wrap;
    }
    .md-flex-nowrap {
        flex-wrap: nowrap;
    }
}
@media (min-width: 1280px) {
    .lg-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }
    .lg-flex-wrap {
        flex-wrap: wrap;
    }
    .lg-flex-nowrap {
        flex-wrap: nowrap;
    }
}
@media (max-width: 767px) {
    footer .card {
        margin-bottom: 1.5rem;
    }
    footer .credits p {
        text-align: center;
        margin: 2rem 0 1rem;
        width: 100%;
    }
    footer .social a {
        margin: 0 auto;
    }
    footer {
        padding: 3rem 0;
    }
    .input-style {
        margin-bottom: 1rem;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    footer .social {
        margin: 0 auto 1.5rem;
    }
    footer .credits p {
        text-align: center;
        margin: 0 auto 1rem;
    }
}
#home section h2 {
    margin-bottom: 4.5rem;
}
@media (max-width: 768px) {
    #home section h2 {
        margin-bottom: 2.2rem;
    }
}
#user-home .glyphicon-menu-down {
    color: #a09da7 !important;
}
#project .card p {
    font-family: 'Source Sans Pro', sans-serif;
}
#blog .card {
    overflow: hidden;
    margin: 1.5rem auto;
    width: 29.333%;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 767px) {
    #blog .card {
        width: 85%;
    }
    #blog .card.full {
        width: 85% !important;
    }
    #blog .card.full .img-wrapper {
        width: 100% !important;
    }
    #blog .card.full .full-wrapper {
        width: 100% !important;
    }
    #blog .card.full .text-wrapper {
        -webkit-line-clamp: 99 !important;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    #blog .card {
        width: 43%;
    }
    #blog .card.full {
        width: 93% !important;
    }
    #blog .card.full .img-wrapper {
        width: 54% !important;
    }
    #blog .card.full .full-wrapper {
        width: 46% !important;
    }
}
#blog .card .img-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}
#blog .card .text-wrapper {
    padding: 1.5rem;
    align-self: center;
    flex-wrap: wrap;
}
#blog .card .full-wrapper {
    width: 100%;
}
#blog .card.full .img-wrapper {
    align-self: auto;
}
#blog .card.full .text-wrapper h3 {
    margin-bottom: 8px;
}
#blog .card.full .text-wrapper {
    height: auto;
}
#blog .card.full .text-wrapper p {
    color: #a29fa9;
    font-size: 0.9rem;
}
#blog .card.full {
    width: 96%;
}
#blog .card.full .img-wrapper {
    width: 65.3%;
}
#blog .card.full .full-wrapper {
    width: 34.69%;
}
#blog .card h3 a, #home #blog .card h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #160f29;
    font-size: 1.25rem;
    line-height: 1.2;
    width: 100%;
    align-self: flex-start;
    margin-bottom: 0;
}
#blog .card .bottom {
    justify-self: flex-end;
    padding: 1rem 1.5rem 1.5rem;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
#blog .card .bottom p {
    align-self: flex-end;
    font-size: 0.9rem !important;
    color: #a29fa9;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1 ,h2, h3, h4, h5, h6 {
    font-family: 'Exo SemiBold';
}
/*Fonts*/

@font-face {
    font-family: 'Montserrat Thin';
    src: url('fonts/Montserrat-Thin.eot');
    src: url('fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/Montserrat-Thin.woff') format('woff'),
    url('fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Exo Bold';
    src: url('fonts/Exo-Bold.ttf');
    src: url('fonts/Exo-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Exo-Bold.woff') format('woff'),
    url('fonts/Exo-Bold.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Exo SemiBold';
    src: url('fonts/Exo-SemiBold.ttf');
    src: url('fonts/Exo-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Exo-SemiBold.woff') format('woff'),
    url('fonts/Exo-SemiBold.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Exo Regular';
    src: url('fonts/Exo-Regular.ttf');
    src: url('fonts/Exo-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Exo-Regular.woff') format('woff'),
    url('fonts/Exo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Exo Bold';
    src: url('fonts/Exo-Bold.eot');
    src: url('fonts/Exo-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Exo-Bold.woff') format('woff'),
    url('fonts/Exo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('fonts/Montserrat-SemiBold.eot');
    src: url('fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Montserrat-SemiBold.woff') format('woff'),
    url('fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot');
    src: url('fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.about-slider-index span[class^='icon-'], .about-slider-index span[class*=" icon-"]{
    display: block;
    width: 100%;
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.circled[class^='icon-'], .circled[class*=" icon-"] {
    padding: .5rem;
    font-size: 4rem;
    display: inline-block;
    border: 4px solid #000;
    border-radius: 150px;
}
.icon-person:before {
    content: "\e905";
}
.icon-done:before {
    content: "\e903";
}
.icon-gerente:before {
    content: "\e905";
}
.icon-money:before {
    content: "\e900";
}
.icon-plan:before {
    content: "\e908";
}
.icon-eye:before {
    content: "\e904";
}
.icon-clock:before {
    content: "\e902";
}
.icon-code:before {
    content: "\e901";
}
.icon-globe:before {
    content: "\e906";
}
.icon-bossa:before {
    content: "\e907";
}
.icon-network:before {
    content: "\e909";
}


/*Fonts*/

/*Default*/

span.clear {
    display: block;
    clear: both;
}

body {
    font-family: 'Exo Regular', sans-serif;
    color: #000;
    font-size: 1rem;
    line-height: 1.2em;
    background: #fff;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #3e3e3e;
    font-size: 0.9rem;
    line-height: 1.5em;
    clear: both;
    letter-spacing: 0.4px;
}

a:focus, a:hover {
    text-decoration: none;
    color: #000;
}
.nav>li>a:hover {
    background-color: #000;
    color: #fff;
}
h2 {
    font-family: 'Exo Bold', sans-serif;
    color: #000;
    font-size: 2.2rem;
    line-height: 1.2em;
    margin-bottom: 39px;
}
h4 {
    font-family: 'Exo Bold', sans-serif;
    color: #000;
    font-size: 1.5rem;
    line-height: 1.2em;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}
h5 {
    font-family: 'Exo Bold', sans-serif;
    color: #000;
    font-size: 1rem;
    line-height: 1.2em;
    margin-bottom: 1.5rem;
}
h1 {
    font-family: 'Exo Bold', sans-serif;
    color: #000;
    font-size: 1.8rem;
    line-height: 1.2em;
}
b, strong {
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}
em {
    font-style: italic !important;
}
.c2a {
    background: #06b79a;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    display: inline-block;
    border: 2px solid #06b79a;
    color: #fff;
    padding: 0.55rem 1.45rem;
    font-family: 'Exo Regular', sans-serif;
    transition: color 0.2s, background 0.2s, border 0.2s;
}
nav {
    display: block;
}
ul.submenu {
    display: none;
}
div.logo h1 {
    float: left;
    margin-left: 15px;
    margin-top: 12px;
    font-size: 28px;
    width: 67%;
}
div.logo {
    height: 100%;
    width: 100%;
    float: left;
    transition: none !important;
}
div.logo span {
    float: left;
    font-size: 3.2rem;
    margin-top: 3px;
    color: #000;
}
.affix div.logo span {
    font-size: 2.8rem;
    margin-top: 1px;
}
div.logo img {
    display: inline-block;
    float: left;
    max-height: 100%;
}
nav li {
    float: left;
    margin: 0px 0.3rem;
}
nav ul {
    /* float: right; */
}
a i {
    margin-left: 7px;
}
section {
    margin-bottom: 6rem;
}
section#posts {
    padding-top: 3rem;
    background: #f4f4f4;
    margin-top: -3px;
    margin-bottom: 0;
    padding-bottom: 6rem;
}
.bottom-buffer {
    margin-bottom: 2rem;
}
.top-buffer {
    margin-top: 2rem;
}
nav.navbar.navbar-default {
    background: #fff;
    box-shadow: none;
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-bottom: none;
    z-index: 100;
    border: 1px solid #fff;
}
button.navbar-toggle {
    margin-top: 24px;
}
nav.navbar.affix-top {
    position: absolute;
    padding-bottom: 11px;
}
.navbar-default.affix *, .navbar-default.affix-top {
    transition: all 0.4s;
}
nav.navbar i, .c2a i {
    transform: translateY(1px);
    margin-left: 10px;
    display: inline-block;
    transition: none !important;
}
.affix ul.nav.navbar-nav.navbar-right {
    margin-top: 10px;
}
nav.navbar.affix button.navbar-toggle {
    margin-top: 11px;
}
nav.navbar.affix {
    border: none;
    transition: border 0.4s;
    border-radius: 0px;
    margin-top: -1px;
    z-index: 200;
    border-right: none;
    padding-top: 5px;
    box-shadow: 0px 0px 5px 0px rgba(27, 27, 27, 0.2);
}
nav.navbar.affix .navbar-brand h1 {
    font-size: 22px;
    margin-top: 10px;
    opacity: 0;
}
nav.navbar.affix .navbar-brand {
    height: 50px;
    padding-top: 0px;
}

ul.nav.navbar-nav.navbar-right {
    margin-top: 20px;
}
.navbar-default .navbar-nav>li>a {
    color: #cacaca;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #000;
    /* background: #000; */
}
.navbar-default .navbar-nav>li>a.c2a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a.c2a:hover {
    color: #fff;
}
@media (max-width: 767px) {
    .navbar-collapse.collapse { -webkit-transition: height 0.0s !important; }
    section#featured-post {
        margin-top: 59px !important;
    }
    nav.navbar-default {
        z-index: 200 !important;
    }
    .affix-top ul.nav.navbar-nav.navbar-right, nav ul.nav.navbar-nav.navbar-right  {
        margin-top: 10px;
    }
    nav.affix-top ul.nav.navbar-nav.navbar-right li a, nav ul.nav.navbar-nav.navbar-right li a {
        font-size: 0.85rem;
        padding: 0.3rem 0.85rem;
    }
    nav.navbar.affix-top button.navbar-toggle, nav.navbar button.navbar-toggle {
        margin-top: 11px;
    }
    nav.navbar.affix-top, nav.navbar {
        border-bottom: 1px solid #eee;
        transition: border 0.4s;
        border-radius: 0px;
        border-right: none;
        padding-bottom: 0px !important;
    }
    nav.navbar.affix-top .navbar-brand h1, nav.navbar .navbar-brand h1 {
        font-size: 22px;
        margin-top: 10px;
        opacity: 0;
    }
    nav.navbar.affix-top .navbar-brand, nav.navbar .navbar-brand {
        height: 50px;
        padding-top: 0px;
    }
    .navbar-default .navbar-nav>li {
        float: none;
        border-bottom: 1px solid #ececec;
        width: 100%;
        margin-left: 0px;
    }
    nav.navbar ul.nav li a, nav.navbar ul.nav li a.c2a {
        border: none;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        width: 100%;
        text-align: right;
        color: #333 !important;
        background: #fff;
        padding: 20px !important;
        font-size: 14px;
    }
    nav.navbar ul.nav li a.c2a {
        color: #fff !important;
    }
    .navbar-default .navbar-nav>li>a:hover {
        border: none;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        width: 100%;
        color: #000 !important;
        background: #f1f1f1;
    }
    ul.nav.navbar-nav.navbar-right {
        margin-top: 0px !important;
        margin-bottom: 0px;
        border: none;
    }
    h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    h3 {
        font-size: 1.5rem;
        text-align: center;
    }
    h5 {
        text-align: center;
        font-size: 1.2rem;
    }
    p {
        font-size: 1.075rem !important;
        line-height: 1.7 !important;
    }
    #single a {
        font-size: 1.075rem !important;
    }
    ol.carousel-indicators {
        text-align: center !important;
    }
    a.c2a {
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 0.9rem !important;
        padding: 8px 5px;
    }
    footer #register a.c2a {
        font-size: 1.2rem;
        padding: 10px;
        width: 100%;
    }
    footer #register p {
        font-size: 0.8rem;
    }
}

ol.carousel-indicators {
    bottom: -3.5rem;
    left: 0;
    margin-left: 0px;
    width: 100%;
    text-align: left;
}
div.xs-spacing {
    margin-bottom: 10px;
}
div.sm-spacing {
    margin-bottom: 20px;
}
div.md-spacing {
    margin-bottom: 30px;
}
div.lg-spacing {
    margin-bottom: 40px;
}
div.xlg-spacing {
    margin-bottom: 60px;
}
div.xs-padding-spacing {
    padding-bottom: 10px;
}
div.sm-padding-spacing {
    padding-bottom: 20px;
}
div.md-padding-spacing {
    padding-bottom: 30px;
}
div.lg-padding-spacing {
    padding-bottom: 40px;
}
div.xlg-padding-spacing {
    padding-bottom: 60px;
}
@media (max-width: 767px) {
    .text-xs-left { text-align: left; }
    .text-xs-right { text-align: right; }
    .text-xs-center { text-align: center; }
    .text-xs-justify { text-align: justify; }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}
@media (min-width: 1200px) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}
/*Default*/

/*Home*/
#featured {
    text-align: center;
    margin-bottom: 6rem;
}
#featured .c2a {
    margin-top: 2rem;
}
#featured h2 {
    margin: 11rem auto 1.3rem;
    text-align: center;
}
@media (max-width: 767px) {
    #featured h2 {
        margin-top: 9rem;
    }
}
#featured p {
    margin: 0 auto;
    text-align: center;
}
#devs .dev-from {
    border-bottom: 2px solid #000;
    padding-bottom: 1.5rem;
    margin-top: 2rem;
}
#devs img.dev {
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    display: block;
    margin: 0 auto;
}
#info h4 {
    margin-bottom: 4rem;
}
footer #register .c2a{
    display: inline-block;
    margin: 0 auto;
    background: #fff;
    color: #06b79a;
    padding: 1.2rem 2rem;
    font-size: 1.5rem;
}
footer #register {
    background: #06b79a;
    padding: 3rem 0 1.5rem;
    text-align: center;
    color: #fff;
}
footer #register p {
    color: #fff;
    margin-top: 1rem;
}
.carousel {
    margin-bottom: 6rem;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid #000;
    margin: 0 1px;
}

.carousel-indicators .active, .carousel-indicators li:hover {
    width: 15px;
    height: 15px;
    margin: 0 1px;
    background: #000;
}
#carousel-devs {
    margin-bottom: 0px;
}
.about-slider-index {
    width: 100%;
    padding: 1rem 0px;
    position: relative;
    margin-bottom: 3rem;
}
.about-slider-index:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    border-bottom: 3px solid #000;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}
.about-slider-index li {
}
.about-slider-index li div.icon-wrapper:hover, .about-slider-index li.active div.icon-wrapper {
    background: #000;
    color: #fff;
}
.about-slider-index li div.icon-wrapper {
    width: 80px;
    height: 80px;
    max-width: 100%;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    background: #fff;
    position: relative;
    z-index: 5;
    border: 3px solid #000;
    transition: background 0.2s, color 0.2s;
}
.about-slider-index li div.icon-wrapper i {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
}
/*Home*/


select {
    -webkit-appearance: none;
}
section#register div.help-block.with-errors ul li {
    font-size: 0.8rem;
    padding-left: 10px;
}
section#register .carousel {
    margin-bottom: 0px;
}
section#register h1 {
    margin-bottom: 0.6rem;
}
section#register label.success {
    display: block;
    text-align: center;
    color: #06b79a;
    margin-bottom: 1rem;
}
section#register textarea {
    width: 100%;
    padding: 5px 10px;
    border: 2px solid #000;
    border-radius: 17px;
    font-size: 0.9rem;
}
section#register form .has-error textarea {
    border-color: #bf4a4a;
}
section#register form .has-danger textarea {
    border-color: #bf4a4a;
}
section#register h1 {
    margin-bottom: 35px;
}
section#register div.progress-bar {
    width: 100%;
    height: 16px;
    border-radius: 15px;
    border: 2px solid #000;
    overflow: hidden;
    background: #fff;
    margin-bottom: 30px;
}
section#register div.progress-bar .progress {
    background: #06b79a;
    height: 100%;
    width: 0%;
    transition: width 0.5s;
    border-radius: 3px;
}
section#register h5 {
    margin-bottom: 5px;
    margin-top: 30px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.align-center {
    display: inline-block;
    margin: 0 auto;
}

.c2a.secondary {
    border:2px solid #000;
    background: #fff;
    color: #000;
}
.c2a.secondary:hover, .c2a.secondary:focus {
    background: #000 !important;
    color: #fff !important;
    border: 2px solid #000 !important;
}
section#register p {
    margin-bottom: 10px;
    line-height: 1.2rem;
}

@media (max-width: 767px) {
    section#register h1 {
        font-size: 1.4rem;
    }
}

/*Blog*/

.search input[type=text] {
    border: 1px solid #000;
    border-radius: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
    padding: 6px 10px 7px;
    /* margin-top: 15px; */
    width: 100%;
    margin-left: -1px;
    outline: none;
}
.navbar-center {
    margin: 0 auto;
    max-width: 200px;
    float: none;
    margin-top: 21px;
}
.navbar-center li {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.navbar-center input[type="text"]:focus, .navbar-center input[type=text]:active {
    outline: none;
}
.input-group-addon {
    color: #000;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid #000;
    border-right: 0px;
    background: #fff;
}
section#featured-post {
    position: relative;
    height: 65vh;
    margin-top: 61px;
    display: inline-block;
    width: 100%;
    z-index: 100;
    margin-bottom: 0px;
}
section#featured-post .post a.title {
    font-family: 'Exo Bold', sans-serif;
    font-size: 2.7rem;
    line-height: 1.2em;
    color: #fff;
    margin-bottom: 2.3rem;
    display: block;
    margin-top: 1.7rem;
    font-weight: 600;
}
p.shop-color {
    color: #f7991e;
}
a.leia-mais {
    /* float: left; */
/*     display: block; */
    padding: 5px 13px;
    border: 1px solid #fff;
    color: #fff;
    width: 120px;
    background: #f7991e;
/*    border-radius: 17px;*/
    font-size: 0.85rem;
    transition: background 0.2s, color 0.2s, border 0.2s;
    font-family: 'Source Sans Pro', sans-serif;
}
a.leia-mais.inverted {
    border: 1px solid #f7991e;
    color: #fff;
    background: #f7991e;
}
section>div.vertical-align, section>div>div.vertical-align {
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    width: 100%;
}
.post div.author span {
    display: inline-block;
    margin-top: 9px;
    font-size: 0.9rem;
    font-family: 'Source Sans Pro', sans-serif;
}
a.leia-mais:hover {
    color: #f7991e !important;
    background: #fff !important;
}
a.leia-mais.inverted:hover {
    color: #f7991e !important;
    background: #fff !important;
}
section#featured-post .post a.leia-mais {
}
section#featured-post .post div.author {
    color: #fff;
}
section#featured-post .post a.leia-mais {
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035);
}
section#posts .post>div.img-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    align-self: flex-start;
    position: relative;
    /* background: #808080; */
}
section#posts .post>div.img-wrapper img {
    width: 100%;
    height: auto;
    opacity: 1;
}
section#posts .post div.text {
    padding: 39px 30px 24px;
    background: #fff;
}
section#posts .post div.text a.title {
    font-family: 'Exo Bold', sans-serif;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 22px;
    color: #000;
    display: block;
    text-decoration: none;
    height: 4.2rem;
    display: block;
    overflow: hidden;
}
section#posts .col-sm-12 .post div.text a.title {
    height: 2.8rem;
}
section#posts .post div.text p {
    font-size: 0.9rem;
    color: #000;
    line-height: 1.55em;
    font-family: 'Roboto Slab', serif;
}
section#posts div.meta {
    margin-top: 36px;
}
.post div.author div.img-wrapper {
    display: inline-block;
    border-radius: 150px;
    margin-right: 13px;
    width: 35px;
    height: 35px;
    overflow: hidden;
    position: relative;
    display: none;
}
.post div.author div.img-wrapper img {
    width: 100%;
    height: auto;
}
.post div.author {
    font-size: 14px;
    color: #000;
}
section#posts .post a.leia-mais {
    margin-top: 7px;
}
.post span.leitura {
    opacity: 0.9;
    color: #fff;
    border-radius: 150px;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.4px;
}
.post .text-wrapper {
    height: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    text-overflow: ellipsis;
    font-family: 'Roboto Slab', serif;
}
.col-sm-12 .post .text-wrapper {
    height: auto;
    font-family: 'Roboto Slab', serif;
}
.affix .navbar-center {
    margin-top: 10px;
}
.affix .navbar-center input[type=text] {
    padding: 5px;
    font-size: 0.9rem;
}
@media (max-width: 767px) {
    section#posts .post div.text a.title {
        font-size: 1.2rem;
        line-height: 1.6rem;
        height: 6.4rem;
    }
    section#posts .post div.text p {
        font-size: 0.95rem;
    }
    section#posts .post div.text div.text-wrapper {
        height: 8.6rem;
    }
    .post a.title {
        font-size: 1.5rem;
    }
    div.logo span {
        float: left;
        font-size: 2.8rem;
        margin-top: 1px;
        color: #000;
    }
    section#single img {
        max-width: 100% !important;
        height: auto;
    }
    section#featured-post {
        background-attachment: scroll !important;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background: #000;
    }
    .navbar-default .navbar-toggle {
        border: none;
    }
    .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus {
        background: #fff;
    }
    .navbar-center {
        margin-bottom: 6px;
    }
    section#featured-post {
        height: 600px;
        /* margin-bottom: 3rem; */
    }
    section#featured-post .post a.title {
        font-size: 1.6rem;
    }
    section#featured-post .post a.leia-mais {
        margin-top: 20px;
    }
    section#posts .post div.meta {
        text-align: center;
    }
    section#posts .post div.meta div.author {
        margin-bottom: 15px;
        float: none;
    }
    section#posts .post div.meta a.leia-mais {
        clear: both;
        display: inline-block;
        width: auto;
        padding: 4px 15px;
        min-width: 6rem;
        margin: 0 auto;
        font-size: 1rem;
    }
    .pull-xs-left {
        float: left;
    }
    .pull-xs-right {
        float: right;
    }
}
@media (min-width: 768px) {
    .pull-sm-left {
        float: left;
    }
    section#featured-post {
        height: 600px;
    }
    .pull-sm-right {
        float: right;
    }
}
@media (min-width: 992px) {
    .pull-md-left {
        float: left;
    }
    section#featured-post {
        height: 600px;
    }
    .pull-md-right {
        float: right;
    }
}
@media (min-width: 1200px) {
    .pull-lg-left {
        float: left;
    }
    section#featured-post {
        height: 75vh;
    }
    .pull-lg-right {
        float: right;
    }
}

div.pagenavi span, div.pagenavi a {
    display: inline-block;
    font-size: 0.9rem;
    line-height: 1.4;
    min-width: 28px;
    height: 32px;
    padding: 5px 14px 0px;
    text-align: center;
    background: #fff;
    color: #a29fa9;
    text-decoration: none;
    transition: background 0.2s, color 0.2s;
    font-family: 'Source Sans Pro', sans-serif;
}
div.pagenavi span.current, div.pagenavi a:hover {
    color: #160f19;
}
section#newsletter {
    background: #06b79a;
    padding: 50px 0px;
    margin-bottom: 0px;
}
section#newsletter h2 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 25px;
}
section#newsletter form {
    text-align: center;
}
section#newsletter form input {
    display: inline-block;
    margin: 5px 7px;
    font-family: 'Exo Bold', sans-serif;
    font-size: 1rem;
}
section#newsletter form input[type=email] {
    border-radius: 150px;
    padding: 8px 10px;
    border: 2px solid #fff;
    color: #fff;
    background: #06b79a;
    outline: none;
}
section#newsletter form input[type=submit] {
    border-radius: 150px;
    padding: 8px 10px;
    background: #fff !important;
    color: #06b79a;
    border: 2px solid #fff;
    outline: none;
}
section#single p {
    margin-bottom: 1.8rem;
    font-size: 1.3rem;
    line-height: 1.7em;
    clear: none;
    font-family: 'Source Sans Pro', serif;
}
section#featured-post {
    background-attachment: fixed;
}
div.progress-bar#leitura {
    height: 5px;
    background: #f7991e;
    width: 0%;
    min-width: 0%;
    box-shadow: none;
    max-width: 101%;
    z-index: 250;
    clear: both;
    position: fixed;
    display: none;
    transition: width 0.1s, height 0.4s, opacity 0.4s;
    margin-top: 0px;
    margin-left: -1px;
}
.affix-top .progress-bar#leitura {
    height: 0px;
}
section#single h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}
section#single h6 {
    font-family: 'Exo Bold', sans-serif;
    margin-bottom: 1rem;
}
section#single ul {
    margin-bottom: 1.7rem;
}
section#single ul li {
    margin-bottom: 1rem;
    list-style: disc inside;
}
blockquote {
    margin-left: 3rem;
    padding-left: 1rem;
    border-left: 1px solid #ccc;
}
section#single ol {
    list-style: decimal inside;
    margin-bottom: 1.7rem;
}
section#single ol li {
    list-style: decimal inside;
    margin-bottom: 1rem;
}
.alignleft {
    float: left;
    margin-right: 1rem;
}
.aligncenter {
    margin: 0.5rem auto;
    text-align: center;
    display: block;
}
.alignright {
    float: right;
    margin-left: 1rem;
}
section#single {
    position: relative;
    padding-top: 3rem;
    margin-bottom: 15rem;
}
.review-arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #017468;
    position: absolute;
    bottom: -12px;
    left: 39%;
}
.relative {
    position: relative;
}
.next-post *, .previous-post * {
    transition: all 0.4s;
}
.next-post, .previous-post {
    position: absolute;
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 18px;
    border: 1px solid #000;
    text-align: center;
    transition: all 0.4s;
    overflow: hidden;
}
.next-post:hover, .previous-post:hover {
    width: 186px;
    height: 75px;
    border-color: #06b79a;
    background: #06b79a;
}
.next-post {
    left: 20px;
}
.previous-post {
    right: 20px;
}
.next-post a, .previous-post a {
    color: #000;
    font-size: 1rem;
    line-height: 1rem;
    display: block;
    width: auto;
    height: 100%;
    transition: color 0.4s;
}
.next-post a div.wrapper-arrow, .previous-post a div.wrapper-arrow {
    width: 23px;
    height: 100%;
    padding-top: 0%;
    position: relative;
    transition: height 0.4s, width 0.4s;
    float: left;
}
.previous-post a div.wrapper-arrow {
    float: right !important;
}
.next-post a div.wrapper-arrow i, .previous-post a div.wrapper-arrow i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-42%);
}
.next-post a div.wrapper-arrow i {
    transform: translateY(-50%) translateX(-66%);
}
.next-post a i, .previous-post a i {
    margin-left: 0px;
    color: #000;
}
.next-post.affix, .previous-post.affix {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
.next-post:hover a, .previous-post:hover a {
    height: 100%;
    width: 100%;
    color: #fff;
}
.next-post:hover a i, .previous-post:hover a i {
    color: #fff;
}
.next-post:hover p, .previous-post:hover p {
    color: #fff;
}
.next-post:hover p b, .previous-post:hover p b {
    color: #fff;
}
.next-post:hover a div.wrapper-arrow, .previous-post:hover a div.wrapper-arrow {
    width: 23px;
    height: 100%;
}
.next-post div.wrapper-text, .previous-post div.wrapper-text {
    float: left;
    margin-left: 8px;
    width: 128px;
    padding-top: 7px;
}
.previous-post div.wrapper-text {
    float: right !important;
    margin-right: 8px !important;
    margin-left: 0px !important;
}
section#single .next-post p, section#single .previous-post p {
    margin-bottom: 5px;
    line-height: 1.2em;
    max-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    text-align: left;
}
section#single .previous-post p {
    text-align: right !important;
}
section#single h1 {
    font-family: 'Exo Bold', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.4;
    margin-top: 3rem;
}
section#single h2 {
    font-family: 'Exo Bold', sans-serif;
    font-weight: 400;
    font-size: 2.35rem;
    line-height: 1.4;
    margin-top: 2.9rem;
}
section#single h3 {
    font-family: 'Exo Bold', sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    line-height: 1.4;
    margin-top: 2.8rem;
}
section#single h4 {
    font-family: 'Exo Bold', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;
    margin-top: 2.5rem;
}
section#single h5 {
    font-family: 'Exo Bold', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.4;
    margin-top: 2.25rem;
}
section#single h6 {
    font-family: 'Exo Bold', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.4;
    margin-top: 2rem;
}
section#single h3 {
    text-align: left;
}

/*Share*/

div.share {
    right: 15px;
    bottom: 15px;
}
div.share a {
    display: block;
    border-radius: 50px;
    width: 53px;
    height: 53px;
    padding-top: 14px;
    backgrond: #06b79a;
    text-align: center;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

div.share a.sharer {
    position: relative;
    z-index: 2;
    padding-top: 13.2px;
    border: 1px solid #06b79a;
}
div.share .child {
    position: absolute;
    top:1px;
    left: -9px;
    transition: left 0.2s, top 0.2s;
    z-index: 1;
    padding: 0px 10px;
    box-sizing: border-box;
}
div.share .child a {
    box-shadow: none;
    transition: box-shadow 0.2s, width 0.2s, height 0.2s;
    width: 51px;
    height: 51px;
}
section#single div.share ul li {
    list-style: none;
    margin-bottom: 0px;
}
section#single div.share ul {
    margin-bottom: 0px;
}
div.share.active .child a/*, div.share:focus .child a, div.share:active .child a*/ {
    box-shadow: 0px 3px 3px rgba(86, 86, 86, 0.5);
    width: 53px;
    height: 53px;

}
div.share a i {
    color: #fff; margin-left: 0px; font-size: 1.8rem;
}
div.share a.facebook {
    background: #3B5998;
}
div.share a.linkedin {
    background: #1985BC;
}
div.share a.twitter {
    background: #1DA1F2;
}
div.share.active .child.first/*, div.share:focus .child.first, div.share:active .child.first*/ {
    left: -130%;
    top: 0%;
}
div.share.active .child.second/*, div.share:focus .child.second, div.share:active .child.second*/ {
    left: -240%;
    top: 0%;
}
div.share.active .child.third/*, div.share:focus .child.third, div.share:active .child.third*/ {
    left: -350%;
}
div.share.active .child.fourth/*, div.share:focus .child.fourth, div.share:active .child.fourth*/ {
    left: -25%;
    top: -75%;
}

.navbar-fixed-bottom ul.nav {
    float: none;
}
nav.navbar.navbar-fixed-bottom ul.nav li a {
    display: inline-block;
    padding: 0;
    margin: 0px 4px;
    font-size: 1.45rem;
    color: #bbbbbb;
}
nav.navbar.navbar-fixed-bottom ul.nav li a.star {
    margin: 0px -1px;
}
nav.navbar.navbar-fixed-bottom ul.nav li a:hover {
    color: #000;
}
.navbar-fixed-bottom ul.nav li {
    padding: 10px 15px;
    display: inline-block;
    float: none;
    position: relative;
}
.navbar-fixed-bottom ul.nav li a i {
    margin: 0;
}
nav.navbar.navbar-fixed-bottom {
    box-shadow: 0 0 14px 0px rgba(0,0,0,0.1);
    bottom: -1px;
}
body {
    padding-bottom: 0;
}
.tooltip p {
    line-height: 1.425;
    padding: 2px 15px 2px 15px;
    color: #fff;
    font-size: 0.8rem;
    word-wrap: normal;
    white-space: nowrap;
}
.tooltip div.wrapper {
    position: relative;
}
.tooltip div.wrapper div.next-post-text {
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
    padding: 15px;
    left: 0;
    color: #fff;
    text-align: left;
}
.tooltip div.wrapper div.next-post-text span {
    color: #fff;
    font-family: 'Exo Regular', sans-serif;
    font-size: 0.8rem;
}
.tooltip div.wrapper div.next-post-text p {
    color: #fff;
    font-family: 'Exo Bold', sans-serif;
    font-size: 1.1rem;
    white-space: normal;
    word-wrap: normal;
    padding: 0;
    margin-top: 6px;
    line-height: 1.2;
    max-width: 70%;
}
#blog .card h3 a, #home #blog .card h3 {
    font-family: 'Exo Regular', sans-serif;
    color: #160f29;
    font-size: 1.25rem;
    line-height: 1.2;
    width: 100%;
    align-self: flex-start;
    margin-bottom: 0;
}
#single .container .row img {
    max-width: 100%;
    height: auto;
}
#single b, #single strong {
    font-weight: bold;
}
#single a {
    font-family: 'Source Sans Pro', serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #f7991e !important;
}
@media screen and (max-width:1024px) {
    nav.navbar.navbar-fixed-bottom ul.nav li a {
        width: auto;
        padding: 5px 13px !important;
        font-size: 1.6rem !important;
        background: #fff !important;
    }
    nav.navbar.navbar-fixed-bottom ul.nav li {
        text-align: center;
    }
    .navbar-fixed-bottom ul.nav.navbar-nav.text-center {
        margin: 0;
    }
}
.navbar {
    transition: transform 0.2s ease-in-out, border 0.4s !important;
}
.navbar.nav-hide {
    transform: translateY(-100%);
}
.navbar.navbar-fixed-bottom.nav-hide {
    transform: translateY(100%);
}
div.wp-pagenavi {
    text-align: center;
    display: inline-block;
    border-radius: 16px;
    box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035);
    margin-top: 2rem;
}
.star.voted {
    color: #000 !important;
}
section#posts label.card-search {
    padding-top: 40px;
    margin-bottom: 10px;
    color: #a7a7a7;
    font-size: 14px;
}

/*input#busca-blog[type="text"] {
background-image: url(./img/right-arrow.png);
background-position: center right;
background-repeat: no-repeat;
background-size: 21px 18px;
background-position-x: 97%;
padding-right: 30px;
}*/
.search-card {
    padding-bottom: 40px;
    background-color: #fff;
}
.no-overflow {
    overflow: visible !important;
}
.no-btn .scroll-down-btn {
    position: absolute;
    right: 0;
    opacity: 0 !important;
    transform: translateY(-200px);
    z-index: 9999;
    font-size: 0.9rem !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.has-btn .scroll-down-btn {
    float: right;
    margin-top: 12px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1 !important;
    transform: translateY(0);
    animation-name: slide-btn;
    animation-duration: 0.4s;
    z-index: 9999;
    font-size: 0.9rem !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
@keyframes slide-btn {
    0% {
        position: absolute;
        top: -200px;
        transform: translateY(-200px);
    }
    100% {
        top: 0;
        opacity: 1;
        transform: translateY(0);
    }
}
.next-post-tooltip.tooltip {
    position: absolute;
    transform: translateY(-100%);
    right: 0;
}

.review-post-tooltip.tooltip {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 70px;
}
.review-wrapper {
    width: 450px;
    height: 142px;
    background-size: cover;
}

.review-wrapper .review-post-text {
    position: absolute;
    bottom: 20px;
    left: 0;
    padding-left: 16px;
}
.review-wrapper .review-title {font-family: 'Exo Bold', sans-serif;text-align: left;font-size: 1.5rem;}
.review-wrapper .review-sub-title {padding-bottom: 10px;padding-top: 0;color: #29e9c4;font-size: 1rem;}
.modal-dialog {
    position: absolute !important;
    top: 46% !important;
    transform: translateY(-50%) translateX(-50%) !important;
    left: 50% !important;
}
.modal-body {
    padding: 0;
}
.modal-footer form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.modal-footer form button {
    background: #06b79a;
    color: #fff;
    text-align: left;
    text-shadow: none;
    text-align: left;
    box-shadow: none;
    font-family: 'Exo Regular', sans-serif;
    margin-top: -1px;
    border: none;
    padding: 0.55rem 2.25rem;
    border-radius: 20px;
    font-size: 0.9rem;
}
.modal-footer form input[type="text"] {
    border-radius: 20px;
    border: 1px solid #cacaca;
    padding: 0.55rem 1.45rem;
    width: 60%;
    margin-right: 15px;
    font-family: 'Exo Regular', sans-serif;
    outline: none;
}
.img-txt-modal {
    position: relative;
    font-size: 11px;
}
.img-txt-modal img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.img-txt-modal h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    font-size: 3.3rem;
    width: 100%;
    text-align: center;
    color: #fff;
}
.img-txt-modal button {
    position: absolute;
    transform: translateY(-50%);
    right: 2%;
    font-size: 1.85rem;
    color: #54f7d8;
    top: 5%;
    opacity: 1;
    border: none;
    text-shadow: none;
}
.img-txt-modal p {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    font-size: 1.15rem;
    width: 100%;
    text-align: center;
    color: #54f7d8;
    top: 88%;
}
.img-txt-modal i {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    font-size: 2.35rem;
    text-align: center;
    height: 10px;
    color: #54f7d8;
    top: 93%;
}
.modal-backdrop.in {
    opacity: 0.1 !important;
}
@media (max-width: 767px) {
    .modal-dialog {
        position: absolute !important;
        top: 46% !important;
        transform: translateY(-50%) translateX(-50%) !important;
        left: 47.5% !important;
        width: 99%;
    }
    .img-txt-modal h3 {
        font-size: 1.7rem;
    }
    .img-txt-modal p {
        font-size: 1.45rem;
    }
    .modal-footer form button {
        font-size: 1rem;
        padding: 0.55rem 1.05rem;
    }
}
@media (min-width: 768px){
    .modal-dialog {
        width: 750px !important;
    }
}
section#pocketbook-featured {
    position: relative;
    overflow: hidden;
}
section#pocketbook-featured .pocketbook-cover {
    height: 100vh;
    position: relative;
    z-index: 15;
}
section#pocketbook-featured img.bg-noblur, section#pocketbook-featured img.bg-blur {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (max-width: 1024px){
    section#pocketbook-featured img.bg-blur{
        filter: none;
        height: 100%;
        width: auto;
    }
    section#pocketbook-featured img.bg-noblur {
        /* display: none; */
    }
}
.pocketbook-cover, .pocketbook-cover h5, .pocketbook-cover h3 {
    color: #fff;
    margin-bottom: 1.7rem;
}
.pocketbook-cover, .pocketbook-cover h5 {
    font-size: 1.1rem;
}
.pocket-title {
    font-size: 2.75rem;
}
.pocketbook-cover .light {
    font-family: 'Exo Regular', sans-serif;
    letter-spacing: 0.2px;
}
.light b {
    font-family: 'Exo Bold', sans-serif;
    letter-spacing: 0.2px;
}
.book-logo {
    color: #fff;
    font-size: 3.6rem;
    position: absolute;
    left: 50%;
    top: 6.3vh;
    transform: translateX(-50%);
}
section#single.pocketbook {
    background: #fff;
    position: relative;
    padding-top: 61px;
    z-index: 20;
}
section#pocketbook-featured div.index {
    position: relative;
    z-index: 20;
    color: #fff;
    font-size: 1.1rem;
    font-family: 'Exo Bold', sans-serif;
}
section#pocketbook-featured div.index h2 {
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Exo Regular', sans-serif;
    margin-bottom: 5rem;
}
a.pocket-cap {
    background: rgba(84, 84, 84, 0.2);
    color: #fff;
    font-size: 1.15rem !important;
    border: 1px solid #fff;
    border-radius: 30px;
    font-family: 'Exo Regular', sans-serif;
    padding: 15px;
    margin-bottom: 50px;
}
.pocketbook h2.title-topic {
    margin-bottom: 10px;
}
.pocketbook h4.minutos-leitura {
    margin-top: 0px;
    font-size: 1.2rem;
    font-family: 'Exo Regular', sans-serif;
}
section.pocketbook {
    margin-bottom: 0;
}
@media screen and (max-width: 767px) {
    section#featured-post {
        height: 600px;
    }
    .pocketbook h4.minutos-leitura {
        text-align: center;
    }
}
div.pocket-cap {
    position: relative;
    height: 65vh;
    margin-top: 61px;
    display: inline-block;
    width: 100%;
    z-index: 100;
    margin-bottom: 61px;
}
div.pocket-cap h2, div.pocket-cap h4 {
    color: #fff;
}
div.pocket-cap h2 {
    font-size: 2.2rem;
}
div.pocket-cap div.vertical-align {
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
a.book-c2a {
    border-radius: 50px;
    color: #fff;
    border: 1px solid #fff;
    font-family: 'Exo Regular', sans-serif;
    font-size: 0.95rem;
    padding: 0.55rem 1.45rem;
    display: inline-block;
    float: none;
    outline: none;
    transition: background 0.2s;
    background: rgba(30,30,30,0.2);
}
a.book-c2a:hover, a.book-c2a:focus, a.book-c2a:active {
    background: rgba(29, 29, 29, 0.6);
}
div.sub-buttons h5 {
    color: #fff;
    font-family: 'Exo Regular', sans-serif;
    margin-bottom: 12px;
    font-size: 1.17rem;
}
div.sub-buttons h5 small {
    color: #fff;
    margin-bottom: 0;
    font-family: 'Exo Regular', sans-serif;
}
i.left {
    margin-right: 10px;
    margin-left: 0 !important;
}
div.book-subscribe {
    bottom: 25px;
    position: absolute;
    width: 100%;
}
div.book-subscribe .sub-form input[type=email] {
    border-radius: 50px;
    color: #fff;
    border: 1px solid #fff;
    font-family: 'Exo Regular', sans-serif;
    font-size: 0.95rem;
    padding: 0.55rem 3.4rem;
    width: 100%;
    outline: none;
    transition: background 0.2s;
    background: rgba(30,30,30,0.2);
}
div.book-subscribe .sub-form span.input-wrapper {
    position: relative;
    display: block;
}
div.book-subscribe .sub-form span.input-wrapper::before {
    content: "\f003";
    display: block;
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    top: 50%;
    transform: translateY(-50%);
    left: 1.45rem;
    z-index: 20;
}
div.book-subscribe .sub-form button {
    position: absolute;
    right: 0.85rem;
    background: none;
    color: #fff;
    z-index: 20;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    margin-top: -2px;
}
.see-also-container {
    width: 100%;
    border-radius: 5px;
    margin: 40px auto;
    height: auto;
    position: relative;
    padding: 0;
    background: #fff;
    box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.035);
    display: none;
}
.see-also-container.visible {
    display: block !important;
}
.see-also .img-container {
    width: 100%;
    height: 0;
    padding-bottom: 25%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    transition: opacity 0.2s;
    opacity: 0;
    border-radius: 5px !important;
}
.see-also .img-container img {
    width: 100%;
    height: auto;
    z-index: 2;
    position: absolute;
    top: 50%;
    border-radius: 5px !important;
    transform: translateY(-50%);
    display: block;
}
.see-also .text-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 5;
    width: 100%;
}
.see-also .text-container span {
    font-family: 'Roboto Slab', serif;
    color: #ccc;
    font-size: 1.05rem;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 300;
}
.see-also .text-container h4 {
    margin: 10px auto;
    width: 60%;
    transition: color 0.15s;
}
.see-also:hover .img-container {
    opacity: 1;
    border-radius: 5px !important;
}
.see-also:hover .text-container h4 {
    color: #fff;
}
.see-also:hover .text-container span {
    color: #fff;
    opacity: 0.8;
}

@media screen and (max-width:768px) {
    .see-also .img-container {
        padding-bottom: 60%;
    }
    .see-also .text-container span {
        font-size: 0.9rem;
    }
    .see-also .text-container h4 {
        font-size: 1.1rem;
    }
}
nav.affix ul.nav.navbar-nav.navbar-right li a.c2a {
    padding: 0.62rem 2rem;
    margin-top: -4px;
    background: #160f29 !important;
}
nav .c2a .icon7-seta:before {
    left: 0.5rem;
}
i.rotate180 {
    transform: rotate(180deg);
    display: inline-block;
    position: relative;
    top: 2.5px;
}
.wp-pagenavi>*:first-child {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding-left: 25px;
}
.wp-pagenavi>*:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 25px;
}

section#especiais {
    min-height: 100vh;
    padding-top: 1.5rem;
    transition: height 9999999s;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    overflow: hidden;
    display: flex;
}
section#especiais h1 {
    color: #fff;
    font-family: 'Exo Bold', sans-serif;
    font-size: 2.7rem;
    margin-bottom: 2.4rem;
}
section#especiais .categories {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.95rem !important;
    margin-bottom: 0.5rem;
    letter-spacing: 0.5px;
    opacity: 0.6;
}
section#especiais .especiais-carousel .card {
    width: 88%;
}
.nav-close {
    position: absolute !important;
}
.slick-list {
    overflow: visible;
}
.slick-prev, .slick-next {
    position: absolute;
    bottom: -25px;
    background: none;
    font-family: 'icomoon2' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    transform: translateY(1.5px);
    display: inline-block;
    color: #fff;
    font-size: 0;
    border: none;
    outline: none;
    opacity: 0.6;
    transition: opacity 0.2s;
}
.slick-prev:hover, .slick-next:hover, .slick-prev:active, .slick-next:active {
    opacity: 1;
}
@media (max-width: 767px) {
    .slick-next, .nav-close {
        right: 5%;
    }
    .slick-prev, .nav-close {
        left: 5%;
    }
    section#especiais h1 {
        margin-bottom: 1rem;
        font-size: 1.7rem;
        text-align: center;
    }
    section#especiais .categories {
        font-size: 0.95rem !important;
        text-align: center;
    }
}
@media (min-width: 768px) {
    .slick-next, .nav-close {
        right: calc(375px - 47vw);
    }
    .slick-prev {
        left: calc(375px - 47vw);
    }
}
@media (min-width: 992px) {
    .slick-next, .nav-close {
        right: calc(485px - 49.5vw);
    }
    .slick-prev {
        left: calc(485px - 49.5vw);
    }
}
@media (min-width: 1200px) {
    .slick-next, .nav-close {
        right: calc(585px - 49.5vw);
    }
    .slick-prev {
        left: calc(585px - 49.5vw);
    }
}
.slick-next:before {
    content: "\e900";
    display: block;
    font-size: 2rem;
}
.slick-prev:before {
    content: "\e900";
    display: block;
    transform: rotate(180deg);
    font-size: 2rem;
}
.slick-disabled {
    opacity: 0 !important;
    cursor: initial;
}
.loaded .loader-wrapper {
    transform: translateY(-100%);
}
.loader-wrapper {
    position: absolute;
    z-index: 9999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #160f19;
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loader {
    border: 10px solid #160f19;
    border-top: 10px solid #e6e6e6;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: opacity 0.2s;
}
.loaded .loader {
    opacity: 0;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}
section#especiais .container {
    align-self: center;
    max-width: 100%;
}
nav.navbar.navbar-especiais {
    position: absolute;
    background: transparent;
    border: none;
    z-index: 100;
    width: 100%;
    padding-top: 1rem;
}
nav.navbar.navbar-especiais ul.navbar-nav {
    width: 100%;
    margin: 0;
    position: relative;
}
span.inverse:before, i.inverse:before {
    display: inline-block;
    transform: rotate(180deg);
}
nav.navbar span {
    transition: none !important;
}
nav.navbar.navbar-especiais ul.navbar-nav li a {
    background: transparent;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.45rem;
    padding: 1rem;
    position: relative;
    border-radius: 100px;
}
nav.navbar.navbar-especiais ul.navbar-nav li a span {
    position: absolute;
    right: 0rem;
    top: 46%;
    transform: translateY(-50%);
    opacity: 0.6;
    transition: opacity 1s;
}
nav.navbar.navbar-especiais ul.navbar-nav li a span.inverse {
    right: calc(100% - 1.85rem);
    top: 45%;
}
nav.navbar.navbar-especiais ul.navbar-nav li a:hover {
    border-color: rgba(255, 255, 255, 0.7);
}
nav.navbar.navbar-especiais ul.navbar-nav li a:hover span {
    opacity: 0.7;
}
@media (max-width: 767px) {
    nav.navbar.navbar-especiais ul.nav li a {
        border: 1px solid rgba(255, 255, 255, 0.25) !important;
        background: transparent;
        color: #fff !important;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 0.95rem;
        padding: 0.45rem 2.2rem !important;
        position: relative;
        border-radius: 100px;
    }
    nav.navbar.navbar-especiais ul.navbar-nav li a span {
        position: absolute;
        /* right: 0.95rem; */
        top: 46%;
        transform: translateY(-50%);
        opacity: 0.3;
        transition: opacity 1s;
    }
    nav.navbar.navbar-especiais ul.navbar-nav li a span.inverse {
        right: calc(100% - 1.2rem);
        top: 41.5%;
    }
}
nav.navbar.navbar-especiais ul.navbar-nav li.logo {
    /* position: absolute; */
    /* left: 50%; */
    margin-left: 1.2rem;
    /* transform: translate(-50%, 5px); */
}
nav.navbar.navbar-especiais ul.navbar-nav li.logo a {
    padding: 1rem;
    font-size: 2.5rem;
    border: none;
}
nav.navbar.navbar-especiais ul.navbar-nav li.logo a span {
    opacity: 1;
    right: 0;
}
.especiais-carousel li {
    outline: none;
}
.especiais-carousel .text-wrapper {
    height: 8.3rem;
}
section#single .see-also h4 {
    font-size: 1.6rem;
    width: 70%;
    font-family: 'Source Sans Pro', sans-serif;
    color: #160f19;
    margin-top: 0;
}
section#single .see-also:hover h4 {
    color: #fff;
}
section#posts .filter {
    display: inline-block;
    margin-bottom: 3.4rem;
    margin-top: 1.7rem;
}
section#posts .filter ul {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius:  0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 0;
    border: none;
    overflow: hidden;
}
section#posts .filter ul li {
    text-align: center;
}
section#posts .filter ul li:last-child a {
    padding-bottom: 1rem;
}
section#posts .filter ul li a, section#posts .filter button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.95rem;
    color: #a29fa9;
}
section#posts .filter ul li a {
    padding: 0.8rem 1rem !important;
    /* border-radius: 0 !important; */
}
section#posts .filter button {
    background: #fff;
    border: none;
    padding: 0.9rem 3.4rem;
    border-radius: 10px;
    box-shadow: 6px 8px 16px 0px rgba(0, 0, 0, 0.035);
}
section#posts .filter.open button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
section#posts .filter b {
    text-transform: lowercase;
}
nav button span.icon-bar {
    transition: transform 0.25s !important;
}
i.fa-star {
    color: #ffd9b0;
}
i.fa-envelope-square {
    color: #39b54a;
}
i.fa-facebook-square {
    color: #3b5999;
}
i.fa-twitter-square {
    color: #00abf1;
}
i.fa-linkedin-square {
    color: #007bb6;
}
i.fa-google-plus-square {
    color: #e12f2f;
}
i.fa-comment {
    color: #160f29;
}
a.read-more {
    color: #fff;
    background: #f7991e;
    border: 1px solid #f7991e;
    box-shadow: 13px 13px 28px 2px rgba(0, 0, 0, 0.05);
}
a.read-more:hover {
    color: #f7991e;
    background: #fff;
    border: 1px solid #f7991e;
}
.filter a b, .filter button b {
    color: #f7991e !important;
}
.bottom-especial p {
    color: #f7991e !important;
}







/*HEADER*/
header.header-blog {
    height: 61px;
    line-height: 61px;
    position: fixed;
    z-index: 1000;
    width: 100%;
}
header.header-blog .container {
    width: 95%;
}
header.header-blog .col-md-3.text-center img {
    padding-top: 5px;
}
header.header-blog ul {
    list-style-type: none;
}
header.header-blog ul a li {
    display: inline-block;
    padding: 0px 10px;
}
header.header-blog ul a, header.header-blog .login a {
    padding: 0 10px;
    font-size: 20px;
    font-family: 'Exo Regular';
    color: #a1a2a2;
}
header.header-blog ul a li.item-header-active {
    color: #6e6f6f;
    border-bottom: 2px solid #f8941e;
}


header {
    height: 61px;
    line-height: 61px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: white;
}
header .container {
    width: 95%;
}
header .col-md-3.text-center img {
    padding-top: 10px;
    height: 50px;
    width: auto;
}
header ul {
    list-style-type: none;
}
header ul a li {
    display: inline-block;
    padding: 3px 10px;
}
header ul a, header .login a {
    padding: 0 10px;
    font-size: 20px;
    font-family: 'Exo Regular';
    color: rgba(0,0,0,0.7);
    line-height: 55px;
}
header ul a li.item-header-active {
    color: rgba(0,0,0,1);
    border-bottom: 2px solid #f8941e;
    height: 55px;
}

/* QUEM SOMOS */
.wrapper.quem-somos {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
#quem-somos-banner {
    background: url(img/imagem-quem-somos.png);
    background-size: cover;
    padding: 100px 0;
    /* max-width: 100%; */
    margin:0;
}

#quem-somos-banner h1 {
    color: white;
    padding: 30px 0;
    font-size: 3em;
    font-family: 'Exo Regular';
}

#quem-somos-banner p {
    color: #EEE;
    padding: 30px 0;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    font-family: 'Exo Regular';
    font-size: 1rem;
}
.btn.btn-filled-orange{
    border: 2px solid #f7991e;
    border-radius: 2px;
    color: #FFF;
    background: #f7991e;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 0.8em;
    padding: 15px 30px;
}
.btn.btn-filled-orange:hover {
    border: 2px solid #fff;
    color: #f7991e;
    background: #fff;
}
#quem-somos-banner a.btn-filled-orange {
    margin-bottom: 50px;
}
#texto-quem-somos {
    background: #fff;
    padding: 100px 0;
    border-radius: 30px 30px 0 0;
    /* max-width: 100%; */
}
#texto-quem-somos p {
    color: #4D4D4D;
    width: 33%;
    margin-left:auto;
    padding: 10px 0;
    margin-right:auto;
    text-align: left;
    font-size: 1.1rem;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 25px;
}
@media (max-width: 767px) {
    #quem-somos-banner p {
        width: 75%;
    }
    #texto-quem-somos p {
        width: 75%;
    }
}

/*FOOTER*/
#wrapper-footer{
    background: #4D4D4D;
    margin-top: -40px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px -1px 16px rgba(0,0,0,0.1);
    padding: 15px 0px 0px 0px;
}
.footer-line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #686868;
    color: #A2A2A2;
    font-weight: 700;
    margin: 0px;
    padding: 8px;
    font-size: 0.8em;
    padding: 8px 100px;
}
.footer-social{
    margin-left: 53px;
}
.footer-social span{
    height: 32px;
    width: 32px;
    display: inline-block;
    background-size: 90%;
    background-position: 50%;
}
.footer-twitter{ background-image: url(../img/twitter.png); height: 100%; background-repeat: no-repeat; }
.footer-linkedin{ background-image: url(../img/linkedin.png); height: 100%; background-repeat: no-repeat; }
.footer-facebook{ background-image: url(../img/facebook.png); height: 100%; background-repeat: no-repeat; }
.footer-instagram{ background-image: url(../img/instagram.png); height: 100%; background-repeat: no-repeat; }
.footer-logo{
    margin: 10px 0px 5px 20px;
    max-width: 150px;
    color: #EEE;
}
.sb-menu.navbar-bottom{
    max-width: 100%;
}
.footer-ns-assine{
    font-size: 0.8em;
    font-weight: 600;
    color: #666;
    margin: 10px 2px;
}
.navbar-bottom .sb-menu-item:last-child{
    float: none;
}
@media (min-width: 767px) {
    nav.sb-navigation .brand-logo{max-width: 170px;}
    .sb-navigation .sb-minimenu,.sb-navigation .menu-anchor{
        display: none;
    }
}
.navbar-bottom .sb-menu-item a{
    font-family: 'Source Sans Pro', sans-serif;
    color: #999;
    font-size: 0.9em;
}
    .sb-menu{
        width: 110%;
        list-style: none;
    }
    .sb-menu-item{
        display: inline-block;
        vertical-align: -webkit-baseline-middle;
        padding: 15px;
        font-size: 1em;
        color: #EEE;
        /*color: #939393;*/
    }
    .sb-menu-item a{
        text-decoration: none;
        color: #EEE;
        /*color: #939393;*/
    }
    .sb-menu-item:last-child{
        float: right;
    }
    .sb-menu-item a:hover{
        color: #fff;
        cursor: pointer;
    }
    nav.sb-navigation{
        vertical-align: middle;
        padding: 5px 0px 20px 0px;
        position: relative;
        height: 65px;
        width: 100%;
        z-index: 1000;
    }
    .sb-navigation li.sb-menu-child {
        padding: 3px 0px 5px 0px;
        text-align: center;
        border-bottom: 1px solid #EEE;
    }
    .sb-navigation li.sb-menu-child a{
        color: #222;
    }
    nav.sb-navigation .navbar-brand{
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px;
        min-width: 160px;
        margin-top: 8px;
    }
    nav.sb-navigation .brand-logo{
        background-image: url(../img/src/shopback-white-logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        background-position: 0px 5px;
    }
    nav.sb-navigation.cloned{
        background: #FFF;
        color: #000;
    }
.footer-address{
    font-family: 'Source Sans Pro', sans-serif;
    color: #AAA;
    font-size: 0.9em;
    margin-left: 30px;
}
.navbar-bottom .sb-menu-item a{
    font-family: 'Source Sans Pro', sans-serif;
    color: #999;
    font-size: 0.9em;
}
.footer-address p{
    font-family: 'Source Sans Pro', sans-serif;
    color: #999 !important;
    font-size: 0.9em;
}
.footer-logo{
    max-width: 150px;
    margin-top: 10px;
}
.site-info{
    margin-bottom: 50px;
    background: #4D4D4D;
}
input.gray-filled-input{
    background: #686868;
    padding: 10px 20px 10px 15px;
    font-size: 0.8em;
    border: 0px none;
    border-radius: 3px;
    margin: 0px;
    color: #6CC2E8;
    line-height: 28px;
    font-family: 'Source Sans Pro', sans-serif;
}
  /*==============================SHOPBACK===============================*/
.sb-home{
    padding: 50px 0px;
}
.sb-top-text{
    color: #EEE;
}
.sb-main-title{
    margin-bottom: 30px;
    letter-spacing: 2px;
}
.sb-main-cta{
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 30px;
}

/**
    Marcas styles
**/
.sb-marcas{
    margin-top: -10px;
    margin-bottom: -7px;
    border-radius: 7px;
    z-index: 10;
    position: relative;
    background: #FFF;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
}
.sb-marcas-list{
    list-style: none;
    padding: 0px;
    margin: -5px 0px;
}
.sb-marcas-item{
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    padding: 25px;
    font-size: 0.9em;
    color: #939393;
    max-width: 12%;
    opacity: 0.3;
    min-width: 100px;
}
.sb-marcas-2{
    border-radius: 7px;
    position: absolute;
    left: 0px;
    right: 0px;
    background: #FFF;
    margin: -10px 0px;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
}
/**
   Plataforma
**/

.plataformas {
    background-color: #DADAD1;
    padding: 30px;
}

.plataformas h4{
    color: #FFFFFF;
    padding-bottom: 10px;
}

.item-plataformas {
    padding-bottom: 20px;
}


.img-plataformas {
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 2px;
}

.plataformas p {
    color: #000000;
    padding: 2px;
    size: 0.2em;
    padding-top: 4px;
}


/**
    Produtos styles
**/
.sb-produtos{
    background: #f9f9f9;
    padding: 30px 0px;
}
.sb-produtos-list{
    list-style: none;
    width: 100%;
    margin-bottom: -10px;
    margin-left: -20px;
}
.sb-produtos-item{
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    font-size: 0.8em;
    font-weight: 600;
    padding: 75px 0px 10px 0px;
    border-radius: 12px 12px 0px 0px;
    color: #F7941E;
    margin: 10px 25px;
    text-align: center;
    background-color: #ececec;
    background-repeat: no-repeat;
    background-size: 30%;
    line-height: 30px;
    background-position: 50% 20px;
    max-width: 150px;
}
.sb-produtos-item.item1{ background-image: url('../img/icon1.png') }
.sb-produtos-item.item1:hover, .sb-produtos-item.item1.slick-current{ background-image: url('../img/i1white.png') }
.sb-produtos-item.item2{ background-image: url('../img/icon2.png') }
.sb-produtos-item.item2:hover, .sb-produtos-item.item2.slick-current{ background-image: url('../img/i2white.png') }
.sb-produtos-item.item3{ background-image: url('../img/icon3.png') }
.sb-produtos-item.item3:hover, .sb-produtos-item.item3.slick-current{ background-image: url('../img/i3white.png') }
.sb-produtos-item.item4{ background-image: url('../img/icon4.png') }
.sb-produtos-item.item4:hover, .sb-produtos-item.item4.slick-current{ background-image: url('../img/i4white.png') }
.sb-produtos-item.item5{ background-image: url('../img/icon5.png') }
.sb-produtos-item.item5:hover, .sb-produtos-item.item5.slick-current{ background-image: url('../img/i5white.png') }
.sb-produtos-item.ic-feature{ background-image: url('../img/icon1.png') }
.sb-produtos-item.ic-feature:hover, .sb-produtos-item.ic-feature.slick-current{ background-image: url('../img/i1white.png') }

.sb-produtos-item:hover{
    cursor: pointer;
    background-color: #F7941E;
    color: #FFF;
}
.sb-produtos-item.slick-current{
    background-color: #F7941E;
    color: #FFF;
}
.sb-produtos .sb-slick-content{
    /*background: #FFF;*/
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 8px 16px #EAEAEA;
}
.sb-produtos .btn-filled-orange{margin-top: 30px;}
.sb-produtos .sb-showcase{
    background-color: #F7941E;
    color: #FFF;
}
.sb-produtos.produtos-inner .sb-showcase{
    background-color: #FFF;
    color: #F7941E;
}
.bg-cutter{
    position: absolute;
    left: 0px;
}
.bg-cutter-products{
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    border-radius: 10px 10px 0px 0px;
}
.sb-produtos .product-description{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
}

.sb-produtos .sb-showcase .product-image img{
    margin-top: 10%;
}
.sb-produtos .sb-showcase .product-description img{
    width: 60px;
    height: auto;
    margin: 20px 0px;
}
.sb-cases-item .case-pic {
    max-width: 150px;
}
.sb-cases-item.slick-slide img {
    max-width: 80px;
    margin:10px auto;
}
.sb-produtos .sb-showcase h4{
    font-size: 0.7em;
    letter-spacing: 3px;
    font-weight: 700;
    color: #DDD;
    margin: 10px 0px;
}
.sb-produtos.produtos-inner .sb-showcase h4{
    color: #f2981f;
}
/**
    Cases styles
**/
.sb-cases{
    color: #FFF;
    margin: 0px 0px -30px 0px;
}
.sb-cases .section-title{
    font-size: 1.5em;
    color: #a5a5a5;
    margin: -10px 0px 0px 0px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
.sb-cases ul.slick-dots {
    bottom: 30px;
    margin-top: 0px;
}
.sb-cases-item.slick-slide img {
    max-width: 80px;
    margin: 10px auto;
    max-height: 50px;
}
.sb-cases-item .case-pic{
    max-width: 150px;
}
.sb-cases-item {
    min-height: 300px;
    padding: 50px 0px;
}
.sb-cases h1{
    font-weight: 200;
    max-width: 50%;
    margin: 20px auto;
    line-height: 50px;
    font-size: 2.2em;
}
.sb-cases h2{
    color: #f9d38c;
}

.sb-cases .slick-dotted.slick-slider {
    margin-bottom: 10px;
}

/**
    Quebra cabeca
**/
.sb-quebracabeca{
    padding: 105px 0px 20px 0px;
    color: #FFF;
    background: url(../img/i1.png);
    background-size: contain;
}
.sb-quebracabeca.quebra-produtos{
    background: #4D4D4D;
}
.sb-quebracabeca h2{
    margin: 0px;
    margin-bottom: 22px;
}
.sb-quebracabeca.quebra-produtos h2 {
    font-weight: 300;
    letter-spacing: 1px;
}
.sb-quebracabeca div{
    margin: 20px 0px;
}
.sb-quebracabeca .grayed{
    color: #ccc;
}
.sb-quebracabeca .btn-small{
    font-weight: 700;
    font-size: 0.8em;
    padding: 13px 25px;
    letter-spacing: 4px;
    border-radius: 3px;
}

/**
    Fale conosco
**/
.sb-fale{
    margin: -15px 0px;
    position: relative;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
    z-index: 10;
    background: #FFF;
    border-radius: 10px;
    padding: 10px 0px 55px 0px;
}

/**
    Comece
**/
.sb-comece{
    padding: 65px 0px;
    background: #f7991e;
    font-size: 1em;
}
.sb-comece h1{
    font-size: 1.6em;
    letter-spacing: 2px;
    padding: 5px;
}
.section-title-orange{
    color: #F7D17F;
}
.sb-comece h3{
    font-size: 1.25em;
    padding-top: 0px;
    padding-bottom: 30px;
}
.auto-margin {
    margin: 0 auto;
}




.slicknav_menu {
    display:none;
    position: fixed;
    width: 100%;
    z-index: 9999999;
}

@media screen and (max-width: 40em) {
    /* #menu is the original menu */
    header {
        display:none !important;
    }

    .slicknav_menu {
        display:block;
    }
    section#featured-post {
        margin-top: 53px !important;
    }
}