header {
	display:none !important;
}
body, .sb-page {
	background: white !important;
}
#logoin {
	padding: 80px 0;
}
#logoin img {
	height: 60px;
	width: auto;
}
#login {
	padding-bottom: 150px;
}
#login .box-login {
	box-shadow: 12px 16px 32px 0px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: 12px 16px 32px 0px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 12px 16px 32px 0px rgba(0, 0, 0, 0.08);
	width: 40%;
	padding: 70px;
	margin: auto;
	border-radius: 15px;
}
#login .box-login * {
	font-family: 'exo'
}
#login .form-control {
	border: none;
	text-align: left;
}
#login .form-group {
	width: 100%;
}
#login input[type=text], #login input[type=password] {
	padding: 15px;
	border-radius: 11px;
	border: 1px solid #4D4D4D;
	opacity: 0.5;
	outline: none;
}
#login input[type=text]:focus, #login input[type=password]:focus {
	opacity: 1;
}
#login label {
	display: block;
	font-size: 14px;
	width: 100%;
	font-family: 'exo';
	font-weight: 700;
}
#login label a {
	text-align: right;
	font-weight: 400;
	color: #f7991e;
	opacity: 1 !important;
	cursor: pointer;
}
#login .form-check {
	margin-left: 20px;
	margin-top: -15px;
	margin-bottom: 20px;
	font-weight: 400;
	color: #f7991e;
}

#login button {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 30px;
}
#login h3 {
	font-size: 14px;
	color: rgba(0,0,0,0.5);
}
#login a {
	text-decoration: none;
	color: #f7991e;
}
@media screen and (max-width: 1100px) {
	#login .box-login {
		width: 90%;
		padding: 20px;
	}
}