.news-featured .post-meta {
  text-align: center;
  color: #fff;
  opacity: 0.5;
}
.news-featured h2.post-title {
  color: #fff;
  font-size: 3.3rem;
  letter-spacing: 2px;
  margin: 0.8em 0 1.1em;
  line-height: 1.3;
  text-align: center;
}
.row-center {
  justify-content: center;
}
.news-featured {
  padding: 3rem 0 5rem;
}
.row-space-around {
  justify-content: space-around;
}
.sb-news-page {
  background: #fff;
  border-radius: 10px 10px 0 0;
  padding: 1.5rem 0 calc(1.5rem + 30px);
}
.news-featured svg {
  display: none;
}
h3 {
  letter-spacing: 1px;
}
.arrow-down {
  position: relative;
}
.arrow-down:after {
  position: absolute;
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  border-right: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
  transform: rotate(45deg);
  bottom: -20px;
  left: calc(50% -  8.5px);
}
.news-card {
  border: 1px solid #ffd9a8;
  border-radius: 5px;
  padding: 1.9rem !important;
  text-align: left;
  margin: 15px;
  flex: 0 0 41%;
  max-width: 41%;
  display: flex;
  flex-wrap: wrap;
}
.news-card .post-meta {
  align-self: flex-start;
  color: #F7991E;
  margin-bottom: 7px;
  display: flex;
}
.news-card h2.post-title {
  font-size: 1.8rem;
  color: #4D4D4D;
  line-height: 1.3;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
  align-self: flex-start;
  display: flex;
}
.news-card div.post-text {
  align-self: flex-start;
  font-size: 0.9rem;
  color: darkgrey;
  margin-bottom: 1.5rem;
  display: flex;
}
.news-card div.post-button {
  display: flex;
  align-self: flex-end;
}
.news-card .btn.btn-filled-orange {
    padding: 10px 25px;
}

.news-card.big {
  flex: 0 0 calc(82% + 30px);
  max-width: calc(82% + 30px);
  text-align: center;
  display: block;
  padding: 2rem !important;
}
.news-card.big .post-meta, .news-card.big .post-title, .news-card.big .post-text, .news-card.big .post-button  {
  max-width: 60%;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.news-card.big .post-title {
  margin-top: 15px;
  margin-bottom: 15px;
}
.news-card.big .post-button {
  margin-top: 25px;
}
.news-card.big h2.post-title {
  font-size: 2.5rem;
}
.news-card.big div.post-text {
  font-size: 1.05rem;
  line-height: 1.4;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .news-card h2.post-title {
    font-size: 1.3rem;
  }
  .news-card.big .post-meta, .news-card.big .post-title, .news-card.big .post-text, .news-card.big .post-button  {
    max-width: 80%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .news-card.big .post-title {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .news-card.big .post-button {
    margin-top: 25px;
  }
  .news-card.big h2.post-title {
    font-size: 2.5rem;
  }
  .news-card.big div.post-text {
    font-size: 1.05rem;
    line-height: 1.4;
  }
}

@media (max-width: 767px) {
  .news-card {
    flex: 0 0 90% !important;
    max-width: 90% !important;
    padding: 1rem !important;
  }
  .news-card h2.post-title {
    letter-spacing: 1px;
  }

  .news-card.big .post-meta {
    align-self: flex-start;
    color: #F7991E;
    margin-bottom: 7px;
    display: flex;
  }
  .news-card.big h2.post-title {
    font-size: 1.8rem;
    color: #4D4D4D;
    line-height: 1.3;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    align-self: flex-start;
    display: flex;
  }
  .news-card.big div.post-text {
    align-self: flex-start;
    font-size: 0.9rem;
    color: darkgrey;
    margin-bottom: 1.5rem;
    display: flex;
  }
  .news-card.big div.post-button {
    display: flex;
    align-self: flex-end;
  }
  .news-card.big .post-meta, .news-card.big .post-title, .news-card.big .post-text, .news-card.big .post-button  {
    max-width: 100%;
    display: flex;
    text-align: left;
  }
}

@media (max-width: 320px) {
  .news-featured h2.post-title {
    font-size: 2.7rem;
    line-height: 1.3;
  }
}
