@media (max-width: 768px) {
	.hide-xs{
		display: none !important;
	}
	div.product-description{
		text-align: center !important;
	}
	.sb-produtos .sb-showcase .product-description img{
		margin: 0 auto;
	}
	.home-bg{background-size: auto;}
	.navbar-brand img{
		margin: 0 auto;
		max-width: 150px;
	}
	*.mobile-text-center{
		text-align: center !important;
	}
	input.bluegray-input{
		margin: 15px;
		display: block;
	}
	.sb-fale, .sb-comece{
		padding: 20px;
	}
	 .sb-comece {
	 	padding-bottom: 50px;
	 }
	.sb-quebracabeca{
		padding-top: 30px;
	}
	.quebra-produtos{padding: 240px 0px 10px 0px;}
	.sb-cases-item img{
		max-width: 120px;
	}
	.sb-comofunciona .blur-slider article{
		max-width: 100%;
	}
}
.slicknav_menu {
    display:none;
    position: fixed;
    width: 100%;
    z-index: 9999999;
}

@media screen and (max-width: 40em) {
    /* #menu is the original menu */
    header {
        display:none !important;
    }

    .slicknav_menu {
        display:block;
    }
}
* {
	overflow-x: none !important;
}