/**
	COLORS TABLE
	---------------------------------------
	|BASE BLUE			|			1da1db|
	---------------------------------------
	|BASE ORANGE		|			F7941E|
	---------------------------------------
	|FONT DARK			|			484848|
	---------------------------------------
	|GRAY				|			4D4D4D|
	---------------------------------------
	|BASE BLUE			|			1da1db|
	---------------------------------------
	|BASE BLUE			|			1da1db|
	---------------------------------------
	|BASE BLUE			|			1da1db|
	---------------------------------------
**/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');/**
	Base styles
**/
body{ overflow-x: hidden; background-color: #fff !important; }
.home-bg{
	background: url(../img/imagem-principal.png);
    background-size: contain;
    overflow: hidden;
}
.sans{
	font-family: 'Source Sans Pro', sans-serif;
}
.orange{color: #f7991e;}
.light-orange{color: #ffd38b;}
.white{color: #fff;}
.gray{color: #4D4D4D;}
*.simple{
	font-weight: 200;
	text-decoration: none;
}
.btn-shadow{
	box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
}
.btn-full{
	width: 100%;
}
.btn.btn-open-orange{
	border: 2px solid #f7991e;
	padding: 18px 50px;
	border-radius: 2px;
	color: #f7991e;
	font-size: 0.9em;
}
.btn.btn-filled-orange{
	border: 2px solid #f7991e;
 	border-radius: 2px;
	color: #FFF;
	background: #f7991e;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 0.8em;
    padding: 15px 30px;
}
.btn.btn-filled-white{
	border: 2px solid #FFF;
    padding: 13px 40px;
	border-radius: 2px;
	color: #f7991e;
	background: #FFF;
	font-size: 0.9em;
}
.btn.btn-filled-blue{
	border: 2px solid #F7941E;
    padding: 13px 40px;
	border-radius: 2px;
	color: #FFF;
	background: #F7941E;
	font-size: 0.9em;
}
.btn.btn-filled-dark{
	border: 2px solid #4C4C4C;
 	border-radius: 2px;
	color: #FFF;
	background: #4C4C4C;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 0.8em;
    padding: 15px 30px;
}
.btn.btn-open-blue{
	border: 2px solid #F7941E;
	padding: 10px 50px;
	border-radius: 2px;
	color: #F7941E;
	font-size: 0.75em;
}
.btn.btn-open-gray {
	background: white;
	border: 1px solid #4d4d4d;
	color: #4d4d4d;
	font-family: 'exo';
	padding: 13px 40px;
	font-size: 0.9rem;
}
.btn.btn-open-gray:hover {
	color: #f2981f;
	border-color: #f2981f;
}
.btn.btn-open-white{
    border: 1px solid #FAFAFA;
    padding: 13px 45px;
    border-radius: 2px;
    color: #FFF;
    font-size: 0.8em;
    letter-spacing: 4px;
    font-weight: 700;
}
.btn.btn-open-white:hover{
    border: 1px solid #FAFAFA;
    padding: 13px 45px;
    border-radius: 2px;
    color: #F7941E;
    background: #FFF;
    font-size: 0.8em;
    letter-spacing: 4px;
    font-weight: 700;

}
.btn-through-white{
	border: 2px solid #FFF;
    padding: 18px 50px;
	border-radius: 2px;
	color: #F7941E;
	background: #FFF;
	font-size: 0.9em;
}
.btn-through-white-dark{
	border: 2px solid #FFF;
    padding: 18px 50px;
	border-radius: 2px;
	color: #4D4D4D;
	background: #FFF;
	font-size: 0.9em;
}
.btn.smaller{
	padding: 10px 60px;
    font-size: 0.7em;
    margin: 0px 10px;
    font-weight: 700;
    letter-spacing: 3px;
}
.under_orange{
	font-weight: 700;
	border-bottom: 3px solid #f7991e;
}
input.gray-filled-input{
    background: #686868;
    padding: 10px 20px 10px 15px;
    font-size: 0.8em;
    border: 0px none;
    border-radius: 3px;
    margin: 0px;
    color: #6CC2E8;
    line-height: 28px;
    font-family: 'Source Sans Pro', sans-serif;
}

input.bluegray-input{
    background: #daeef7;
    padding: 10px 20px 10px 15px;
    font-size: 0.8em;
    border: 0px none;
    border-radius: 3px;
    margin: 0px 10px;
    color: #6CC2E8;
    font-family: 'Source Sans Pro', sans-serif;
}
input.bluegray-input::placeholder{
	color: #6CC2E8;
}
input.gray-filled-input::placeholder{
	color: #A2A2A2;
	font-size: 16px;
}
section{ text-align: center; }
.section-title{
	font-size: 1.5em;
	color: #a5a5a5;
	margin: 30px 0px 40px 0px;
	font-family: 'Source Sans Pro', sans-serif;
}
.section-title.title-dark{
	color: #b1b1b1;
}
.section-title.title-orange{
	color: #ffc985;
}
.auto-margin{
	margin: 0px auto;
}
.sb-down-arrow{
    margin: 50px 0px -25px 0px;
    font-size: 2em;
    font-weight: 300;
    opacity: 0.5;
}
/**
	Theme styles
**/
.sb-theme{
	font-family: exo;
}

/**
	Menu styles
**/
.sb-menu{
	width: 110%;
	list-style: none;
}
.sb-menu-item{
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
	padding: 15px;
	font-size: 1em;
	color: #EEE;
	/*color: #939393;*/
}
.sb-menu-item a{
	text-decoration: none;
	color: #EEE;
	/*color: #939393;*/
}
.sb-menu-item:last-child{
	float: right;
}
.sb-menu-item a:hover{
	color: #fff;
	cursor: pointer;
}
.menu-active .sb-menu-item a:hover{
	color: #333;
	cursor: pointer;
	text-decoration: none;
}
.sb-navbar-brand a{ 
	max-width: 100%;
}
nav.sb-navigation{
	vertical-align: middle;
    padding: 5px 0px 20px 0px;
    position: relative;
    height: 65px;
    width: 100%;
    z-index: 1000;
}
.sb-navigation li.sb-menu-child {
    padding: 3px 0px 5px 0px;
    text-align: center;
    border-bottom: 1px solid #EEE;
}
.sb-navigation li.sb-menu-child a{
	color: #222;
}
nav.sb-navigation .navbar-brand{
	height: 100%;
	width: 100%;
    padding: 0px;
    margin: 0px;
    min-width: 160px;
    margin-top: 8px;
}
nav.sb-navigation .brand-logo{
    background-image: url(../img/src/shopback-white-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    background-position: 0px 5px;
}
nav.sb-navigation.cloned{
	background: #FFF;
	color: #000;
}
nav.sb-navigation.cloned .sb-menu-item a{
	text-decoration: none;
	color: #484848;
	/*color: #939393;*/
}
.menu-active nav.sb-navigation.cloned .sb-menu-item a{
	color: #FFF;
}
.menu-active nav.sb-navigation.cloned .sb-menu-item a:hover{
	color: #333;
}
nav.sb-navigation.cloned .brand-logo{
	background-image: url(../img/shopback-logo-gray.png);
}
/**
	Mobile menu
**/
	.sb-menu-mobile{
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
		margin-top: 50px;
	}
	.sb-menu-mobile .sb-menu-item{
		display: block;
		text-align: center;
	}
	.sb-menu-mobile .sb-menu-item a{
		border: 0px none;
	}
	.sb-menu-mobile .sb-menu-item:last-child{
		float: none;
	}
/**
	Home styles
**/
.sb-home{
    padding: 50px 0px;
}
.sb-top-text{
	color: #EEE;
}
.sb-main-title{
	margin-bottom: 30px;
	letter-spacing: 2px;
}
.sb-main-cta{
	font-size: 1.1em;
	font-weight: 400;
	margin-bottom: 30px;
}

/**
	Marcas styles
**/
.sb-marcas{
    margin-top: -10px;
    margin-bottom: -7px;
    border-radius: 7px;
    z-index: 10;
    position: relative;
    background: #FFF;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
}
.sb-marcas-list{
	list-style: none;
	padding: 0px;
	margin: -5px 0px;
}
.sb-marcas-item{
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
	padding: 25px;
	font-size: 0.9em;
	color: #939393;
	max-width: 12%;
	opacity: 0.3;
    min-width: 100px;
}
.sb-marcas-2{
	border-radius: 7px;
    position: absolute;
    left: 0px;
    right: 0px;
    background: #FFF;
    margin: -10px 0px;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
}
/**
   Plataforma
**/

.plataformas {
	background-color: #DADAD1;
	padding: 30px;
}

.plataformas h4{
	color: #FFFFFF;
	padding-bottom: 10px;
}

.item-plataformas {
	padding-bottom: 20px;
}


.img-plataformas {
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 2px;
}

.plataformas p {
	color: #000000;
	padding: 2px;
	size: 0.2em;
	padding-top: 4px;
}


/**
	Produtos styles
**/
.sb-produtos{
    background: #f9f9f9;
    padding: 30px 0px;
}
.sb-produtos-list{
	list-style: none;
	width: 100%;
    margin-bottom: -10px;
    margin-left: -20px;
}
.sb-produtos-item{
	font-family: 'Source Sans Pro', sans-serif;
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
	font-size: 0.8em;
	font-weight: 600;
	padding: 75px 0px 10px 0px;
	border-radius: 12px 12px 0px 0px;
	color: #F7941E;
	margin: 10px 25px;
	text-align: center;
	background-color: #ececec;
	background-repeat: no-repeat;
	background-size: 30%;
	line-height: 30px;
	background-position: 50% 20px;
	max-width: 150px;
}
.sb-produtos-item.item1{ background-image: url('../img/icon1.png') }
.sb-produtos-item.item1:hover, .sb-produtos-item.item1.slick-current{ background-image: url('../img/i1white.png') }
.sb-produtos-item.item2{ background-image: url('../img/icon2.png') }
.sb-produtos-item.item2:hover, .sb-produtos-item.item2.slick-current{ background-image: url('../img/i2white.png') }
.sb-produtos-item.item3{ background-image: url('../img/icon3.png') }
.sb-produtos-item.item3:hover, .sb-produtos-item.item3.slick-current{ background-image: url('../img/i3white.png') }
.sb-produtos-item.item4{ background-image: url('../img/icon4.png') }
.sb-produtos-item.item4:hover, .sb-produtos-item.item4.slick-current{ background-image: url('../img/i4white.png') }
.sb-produtos-item.item5{ background-image: url('../img/icon5.png') }
.sb-produtos-item.item5:hover, .sb-produtos-item.item5.slick-current{ background-image: url('../img/i5white.png') }
.sb-produtos-item.ic-feature{ background-image: url('../img/icon1.png') }
.sb-produtos-item.ic-feature:hover, .sb-produtos-item.ic-feature.slick-current{ background-image: url('../img/i1white.png') }

.sb-produtos-item:hover{
	cursor: pointer;
	background-color: #F7941E;
	color: #FFF;
}
.sb-produtos-item.slick-current{
	background-color: #F7941E;
	color: #FFF;
}
.sb-produtos .sb-slick-content{
	/*background: #FFF;*/
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 8px 16px #EAEAEA;
}
.sb-produtos .btn-filled-orange{margin-top: 30px;}
.sb-produtos .sb-showcase{
	background-color: #F7941E;
	color: #FFF;
}
.sb-produtos.produtos-inner .sb-showcase{
	background-color: #FFF;
	color: #F7941E;
}
.bg-cutter{
	position: absolute;
	left: 0px;
}
.bg-cutter-products{
	position: absolute;
	left: 0px;
	bottom: 0px;
    z-index: 2;
    border-radius: 10px 10px 0px 0px;
}
.sb-produtos .product-description{
	font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
}

.sb-produtos .sb-showcase .product-image img{
    margin-top: 10%;
}
.sb-produtos .sb-showcase .product-description img{
	width: 60px;
	margin: 20px 0px;
}
.sb-produtos .sb-showcase h4{
    font-size: 0.7em;
    letter-spacing: 3px;
    font-weight: 700;
    color: #DDD;
    margin: 10px 0px;
}
.sb-produtos.produtos-inner .sb-showcase h4{
	color: #f2981f;
}
/**
	Cases styles
**/
.sb-cases{
    color: #FFF;
    margin: 0px 0px -30px 0px;
}
.sb-cases .section-title{
    font-size: 1.5em;
    color: #a5a5a5;
    margin: -10px 0px 0px 0px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
.sb-cases ul.slick-dots {
    bottom: 30px;
    margin-top: 0px;
}
.sb-cases-item.slick-slide img {
    max-width: 80px;
    margin: 10px auto;
    max-height: 50px;
}
.sb-cases-item .case-pic{
	max-width: 150px;
}
.sb-cases-item {
    min-height: 300px;
    padding: 50px 0px;
}
.sb-cases h1{
	font-weight: 200;
    max-width: 50%;
    margin: 20px auto;
    line-height: 50px;
    font-size: 2.2em;
}
.sb-cases h2{
	color: #f9d38c;
}

.sb-cases .slick-dotted.slick-slider {
    margin-bottom: 10px;
}

/**
	Quebra cabeca
**/
.sb-quebracabeca{
    padding: 105px 0px 20px 0px;
    color: #FFF;
    background: url(../img/i1.png);
    background-size: contain;
}
.sb-quebracabeca.quebra-produtos{
	background: #4D4D4D;
}
.sb-quebracabeca h2{
	margin: 0px;
	margin-bottom: 22px;
}
.sb-quebracabeca.quebra-produtos h2 {
    font-weight: 300;
    letter-spacing: 1px;
}
.sb-quebracabeca div{
	margin: 20px 0px;
}
.sb-quebracabeca .grayed{
	color: #ccc;
}
.sb-quebracabeca .btn-small{
	font-weight: 700;
    font-size: 0.8em;
    padding: 13px 25px;
    letter-spacing: 4px;
    border-radius: 3px;
}

/**
	Fale conosco
**/
.sb-fale{
	margin: -15px 0px;
    position: relative;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
    z-index: 10;
    background: #FFF;
    border-radius: 10px;
    padding: 10px 0px 55px 0px;
}

/**
	Comece
**/
.sb-comece{
    padding: 65px 0px;
	background: #f7991e;
	font-size: 1em;
}
.sb-comece h1{
    font-size: 1.6em;
    letter-spacing: 2px;
    padding: 5px;
}
.section-title-orange{
	color: #F7D17F;
}
.sb-comece h3{
	font-size: 1.25em;
	padding-top: 0px;
	padding-bottom: 30px;
}

/**
	Blog
**/
.sb-blog{
	margin: -15px 0px;
    position: relative;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
    z-index: 10;
    background: #FFF;
    border-radius: 10px;
    padding: 10px 0px 55px 0px;
}

/**
	News
**/
.sb-news{
	margin: 0px 0px -10px 0px;
    position: relative;
    z-index: 10;
    background: #FFF;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 0px 55px 0px;
}


/**
	Slider styles
**/
.slick-dots li button:before{
	color: #FFF;
	opacity: 0.8;
	font-size: 9px;
}
.slick-dots li.slick-active button:before{
	font-size: 13px;
	color: #FFF;
	opacity: 1;
}

/**
	Pagina de produtos
**/
.sb-page{
	padding: 0 0px 30px 0px;
	background: #4D4D4D;
}
#primary{
	overflow: hidden;
    position: relative;
}
/*#primary:before{
	content: '';
    position: absolute;
    left: 0%;
    bottom: -14%;
    width: 130%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    transform: rotate(-7deg);
}*/
.product-container{
	margin: 0px 0px 0px 70px;
	width: 60%;
	margin-left: calc(20% - 28px);
	max-width: 465px;
	padding: 50px 0;
	text-align: left;
}
.prod-top-img{
    position: relative;
    z-index: 10;
}


/**
	Produtos inner
**/
.prod-subtitle{
	font-size: 1em;
	font-weight: 700;
	color: #4D4D4D;
	margin: 10px 0px;
	letter-spacing: 1px;
}
.inner-left{
	width: 100%;
}


/**
	Produtos Como Funciona
**/
/*.sb-comofunciona:before{
	content: '';
    position: absolute;
    left: 0%;
    bottom: -14%;
    width: 130%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    transform: rotate(-7deg);
}*/
.sb-comofunciona{
	position: relative;
	background: #FFF;
	box-shadow: 0px 0px 16px rgba(0,0,0,0.1);
	margin-bottom: -10px;
	width: 100%;
	padding: 50px 0px;
    border-radius: 10px 0px 0px 0px;
}
.sb-comofunciona .section-title{
	color: #BBB;
}
.sb-comofunciona .instructions{
	text-align: center;
	color: #676767;
	font-size: 1.2em;
	line-height: 20px;
	padding: 0px 10px;
	font-family: 'Source Sans Pro', sans-serif;
}

/**
	Blog
**/
.sb-blog, .sb-news{
	font-family: 'Source Sans Pro', sans-serif;
}
.blog-image, .news-image{
	background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 120px;
}

.sb-blog article, .sb-news article {
    width: 123%;
    display: inline-block;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  
}

.blog-category, .news-category {
    text-align: left;
    padding: 10px 20px;
    font-size: 0.85em;
    color: #888;
}

.blog-1 .blog-image{ background-image: url('../img/blog1.png') }
.blog-2 .blog-image{ background-image: url('../img/blog2.jpg') }
.blog-3 .blog-image{ background-image: url('../img/blog3.jpg') }

.news-1 .news-image{ background-image: url('../img/news1.png') }
.news-2 .news-image{ background-image: url('../img/news2.png') }
.news-3 .news-image{ background-image: url('../img/news3.png') }

.blog-text, .news-text{
	padding: 0px 20px ;
	font-size: 0.9em;
	font-weight: 400;
}

.sb-blog .btn-round-open, .sb-news .btn-round-open{
    background: #FFF;
    border: 1px solid #999;
    border-radius: 40px;
    font-size: 0.7em;
    padding: 3px 9px;
    position: relative;
    font-weight: 400;
    color: #272727;
    margin: 10px;
}


/**
	Footer
**/
#wrapper-footer{
    background: #4D4D4D;
    margin-top: -40px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px -1px 16px rgba(0,0,0,0.1);
    padding: 15px 0px 0px 0px;
}
.footer-line{
	position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #686868;
    color: #A2A2A2;
    font-weight: 700;
    margin: 0px;
    padding: 8px;
    font-size: 0.8em;
}
.footer-social{
	margin-left: 53px;
}
.footer-social span{
	height: 32px;
    width: 32px;
    display: inline-block;
    background-size: 90%;
    background-position: 50%;
}
.footer-twitter{ background-image: url(../img/twitter.png); height: 100%; background-repeat: no-repeat; }
.footer-linkedin{ background-image: url(../img/linkedin.png); height: 100%; background-repeat: no-repeat; }
.footer-facebook{ background-image: url(../img/facebook.png); height: 100%; background-repeat: no-repeat; }
.footer-instagram{ background-image: url(../img/instagram.png); height: 100%; background-repeat: no-repeat; }
.footer-logo{
	margin: 10px 0px 5px 20px;
	max-width: 150px;
	color: #EEE;
}
.site-info{
	margin-bottom: 50px;
}
.sb-menu.navbar-bottom{
    max-width: 100%;
}
.footer-ns-assine{
	font-size: 0.8em;
    font-weight: 600;
    color: #666;
    margin: 10px 2px;
}
.navbar-bottom .sb-menu-item:last-child{
	float: none;
}
@media (min-width: 767px) {
	nav.sb-navigation .brand-logo{max-width: 170px;}
	.sb-navigation .sb-minimenu,.sb-navigation .menu-anchor{
		display: none;
	}
}

/**
	Fixups
**/
.navbar-bottom .sb-menu-item a{
	font-family: 'Source Sans Pro', sans-serif;
	color: #999;
	font-size: 0.9em;
}
.footer-address{
	font-family: 'Source Sans Pro', sans-serif;
	color: #AAA;
	font-size: 0.9em;
	margin-left: 53px;
}
.footer-logo{
    max-width: 150px;
    margin-top: 10px;
}
.site-info{
	margin-bottom: 50px;
}
/* alteracoes cliente urgente */
#main .product-container p {
	font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 30px;
	color: #fff;
}
.product-container h2 {
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 15px;
}
.sb-produtos-list .slick-track {
	display: flex;
	justify-content: center;
}
body, html {
	width: 100%;
}
.product-container .product-icon {
	max-width: 55px; margin-bottom: 25px; margin-left: 5px;
}
.sb-blog .btn.btn-open-gray:last-child {
	margin-top: 25px;
}
.form-control:focus {
	background: #d2d2d2 !important;
}
@media (max-width: 767px) {
	nav.sb-navigation .navbar-brand .brand-logo{
	    background-position: 50%;
	}
	.product-container {
		width: 90%;
		margin: 0 auto;
		text-align: center !important;
	}
	.navbar-brand {
		margin-right: 0 !important;
	}
	.product-container h2 {
		font-size: 2.1rem !important;
	}
	div.blur-slider {
		margin-bottom: 25px;
	}
	.sb-marcas-item {
		max-width: 30%;
		padding: 25px 0;
	}
	.sb-marcas-item:nth-child(3)  ~ .sb-marcas-item {
		display: none;
	}
	#wrapper-footer .sb-menu-item {
		width: 49%;
		text-align: center;
	}
	#wrapper-footer .sb-menu {
		padding-left: 0;
		padding-top: 18px;
	}
	#wrapper-footer .sb-menu-item.logo {
		width: 100%;
		text-align: center;
	}
	.footer-logo{
		margin: 10px auto;
	}
	.footer-address {
		text-align: center;
		width: 75%;
		margin: 0 auto;
	}
	.navbar-bottom .sb-menu-item a {
		font-size: 1rem;
	}
	.footer-social{
	    text-align: center;
	    margin: 0px;
	}
	.footer-social span {
	    background-size: 18px;
	}
}
@media (max-width: 320px) {
	.product-container h2 {
		font-size: 1.9rem !important;
	}
}





.menu-anchor {
	width: 40px;
	height: 40px;
	top: -35px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
	z-index: 9999;
	background: transparent !important;
	outline: transparent !important;
	border: 0px none !important;
}

.menu-anchor:before {
	content: "";
	display: block;
	margin: 7px auto;
	width: 70%;
	height: 0.25em;
	background: #f49c14;
	box-shadow: 0 .45em 0 0 #f49c14, 0 .9em 0 0 #f49c14;
}

.menu-active .menu-anchor:before {
    box-shadow: none;
    margin-top: 15px;
}

.menu-active .menu-anchor{
    background: transparent;
    border: 0px;
}
.sb-theme .menu-anchor:active, 
.sb-theme .menu-anchor:selected, 
.sb-theme .menu-anchor:focus{
	background: transparent !important;
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
}

.sb-theme nav .btn-primary:focus{
	box-shadow: none;
}

menu {
    position: fixed;
    top: -15px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.95);
    padding: 10px 0px 0px 0px;
}
menu li a {
	display: block;
	border-bottom: 1px solid rgba(255,255,255,.3);
	margin: 0 10px;
	padding: 10px;
	color: #FFF;
	text-decoration: none;
}

menu li a:hover {
	background: #FFF;
	color: #d55401;
}


/*
	Aqui você esconde o menu para fora da tela 
	O valor é exatamente a largura da sidebar
*/
menu {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .25s linear;
}

/*
	Essa é a posição original do HEADER e do MAIN
*/
header, .main {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .25s linear;
}

/*
   Com a classe menu-active na tag HTML
*/
.menu-active menu {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.menu-active header, 
.menu-active .main {
	-webkit-transform: translateX(220px);
	-moz-transform: translateX(220px);
	-ms-transform: translateX(220px);
	transform: translateX(220px);
}

.sb-minimenu header {
	text-align: center;
	width: 580px;
            height: 80px;
            line-height: 80px; 
            background-color: #f1f1f1;
            border: 1px dashed #ccc;
            margin: 0 auto;

}

/* QUEM SOMOS */
.wrapper.quem-somos {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}
#quem-somos-banner {
	background: url(../img/imagem-quem-somos.png);
	background-size: cover;
	/* max-width: 100%; */
	padding-top:80px;
}

#quem-somos-banner h1 {
	color: white;
	padding: 30px 0;
	font-weight: 300;
	font-size: 3em
}

#quem-somos-banner p {
	color: #EEE;
	padding: 30px 0;
    margin-left:auto;
    margin-right:auto;
    width: 30%;
}

#quem-somos-banner a.btn-filled-orange {
	margin-bottom: 50px;
}
#texto-quem-somos {
	background: #fff;
	padding: 100px 0;
	border-radius: 30px 30px 0 0;
	/* max-width: 100%; */
}
#texto-quem-somos p {
	color: #4D4D4D;
	width: 33%;
    margin-left:auto;
    padding: 10px 0;
    margin-right:auto;
	text-align: left;
	font-size: 1.1rem;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 25px;
}
@media (max-width: 767px) {
	#quem-somos-banner p {
		width: 75%;
	}
	#texto-quem-somos p {
		width: 75%;
	}
}
.row {
	/* margin-right: 0 !important; */
}

/*HEADER*/
header .container {
	max-width: 100% !important;
}
header .row {
	width: 100%;
}
header.header-blog {
    height: 61px;
    line-height: 61px;
    position: fixed;
    z-index: 1000;
    width: 100%;

}
.displaynone {
	display: none;
}
.header-scroll {
	background: #fff;
}
.item-scroll {
	color: #a7a7a7 !important;
}
header.header-blog .container {
    width: 95%;
}
header.header-blog .col-md-3.text-center img {
    padding-top: 5px;
}
header.header-blog ul {
    list-style-type: none;
}
header.header-blog ul a li {
    display: inline-block;
    padding: 0px 10px;
}
header.header-blog ul a, header.header-blog .login a {
    padding: 0 10px;
    font-size: 20px;
    font-family: 'exo';
    color: #fff;
}
header.header-blog ul a li.item-header-active {
    color: #6e6f6f;
    border-bottom: 2px solid #f8941e;
}


header {
    height: 61px;
    line-height: 61px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: transparent;
}
header .container {
    width: 95%;
}
header .col-md-3.text-center img {
    padding-top: 10px;
    height: 50px;
    width: auto;
}
header ul {
    list-style-type: none;
}
header ul a li {
    display: inline-block;
    padding: 3px 10px;
}
header ul a, header .login a {
    padding: 0 10px;
    font-size: 20px;
    font-family: 'exo';
    color: rgba(0,0,0,0.7);
    line-height: 55px;
}
header ul a li.item-header-active {
    color: rgba(0,0,0,1);
    border-bottom: 2px solid #f8941e;
    height: 55px;
}
