@font-face {
  font-family: 'icomoon7_2';
  src:  url('fonts/icomoon7.eot?94xeh7');
  src:  url('fonts/icomoon7.eot?94xeh7#iefix') format('embedded-opentype'),
    url('fonts/icomoon7.ttf?94xeh7') format('truetype'),
    url('fonts/icomoon7.woff?94xeh7') format('woff'),
    url('fonts/icomoon7.svg?94xeh7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

span.icon7-fechar {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon7_2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon7-fechar:before {
  content: "\e900";
}
