@font-face {
  font-family: 'icomoon2';
  src:  url('fonts/icomoon.eot?8hwlqn');
  src:  url('fonts/icomoon.eot?8hwlqn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8hwlqn') format('truetype'),
    url('fonts/icomoon.woff?8hwlqn') format('woff'),
    url('fonts/icomoon.svg?8hwlqn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon2-"], [class*=" icon2-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  transform: translateY(1.5px);
  display: inline-block;
  -moz-osx-font-smoothing: grayscale;
}

.icon2-arrow:before {
  content: "\e900";
}
.icon2-arrow.inverse {
  transform: rotate(180deg);
}
.icon2-comment:before {
  content: "\e901";
}
.icon2-facebook:before {
  content: "\e902";
}
.icon2-linkedin:before {
  content: "\e903";
}
.icon2-star:before {
  content: "\e904";
}
.icon2-twitter:before {
  content: "\e905";
}
.icon2-whats:before {
  content: "\e906";
}

